<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div >
                    <img class="logo p-2"  src="assets/xd/logologo.png">
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <ul class="list-unstyled quick-links">
                    <div class= "footer_text">
                        <li><a routerLink="/home" routerLinkActive= "active">HOME</a></li>
                        <li><a routerLink="/about" routerLinkActive= "active">About</a></li>
                        <li><a routerLink="/home" routerLinkActive= "active">FAQ</a></li>
                        <li><a routerLink="/our_package" routerLinkActive= "active">PACKAGE</a></li>
                        <li><a routerLink="/service" routerLinkActive= "active">SERVICES</a></li>
                        <li><a routerLink="/home" routerLinkActive= "active">BLOG</a></li>
                        <li><a routerLink="/home" routerLinkActive= "active">PODCAST</a></li>
                    </div>
                </ul>
            </div>  
            <div class="col-xs-12 col-sm-4 col-md-4">      
                <div class="social_mediam_bottom">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item"><a href=""><span class="social-icon"><i class="fab fa-instagram "></i></span></a></li>
                        <li class="list-inline-item"><a href=""><span class="social-icon"><i class="fab fa-linkedin "></i></span></a></li>
                        <li class="list-inline-item"><a href=""><span class="social-icon-y"><i class="fab fa-youtube "></i></span></a></li>
                    </ul>
                </div>
            </div>                    
        </div> 
       
    </div>
    <p>© 2021 One Way Consulting <a routerLink="/mention-legales" routerLinkActive= "active">.Mention Légales.</a> <a routerLink="/confidentialite"> Politique de confidentialité </a></p>
</section>
