<mat-sidenav-container class="bg-light text-dark" style="margin-top:63px; height: 100%;">
  <mat-sidenav #sidenav mode="push" style="width: 250px;">
    <div class="list-group">
      <a href="#" class="list-group-item">first item</a>
      <a href="#" class="list-group-item">second item</a>
      <a href="#" class="list-group-item">Third item</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content style="height: 100%; padding: 20px;">
    <div class="row">
      <div class="col-1 py-auto"><button class="border" mat-button (click)="sidenav.toggle()">&#9776;</button></div>
      <div class="col-3">
        <p class="h2  px-2"> Dashboard</p>
      </div>
      <div class="col-6">
        <div class="form-group">
          <input type="text" class="form-control" id="search">
        </div>
      </div>
      <div class="col-1 py-auto"> <button class="btn btn-danger">LOG OUT</button> </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="page">Enter page ID</label>
          <input type="text" class="form-control" placeholder="page ID" id="page">
        </div>
        <div class="form-group">
          <label for="post">Enter Post ID</label>
          <input type="text" class="form-control" placeholder="Post ID" id="post">
        </div>
        <div class="form-group">
          <label for="token">TOKEN</label>
          <input type="text" class="form-control" placeholder="Token" id="token">
        </div>

        <button id="sentiment" class="btn btn-primary">Get sentiment</button>
        <div id="chartdiv" class="w-75 mx-auto " style="display: none;">
          <canvas id="myChart" width="400" height="400" ></canvas>
        </div>
      </div>
      <div class="col">
        <table id="myTable" class="table table-striped">
          <thead>
              <tr>
                  <th>Time</th>
                  <th>ID(POST_COMMENT)</th>
                  <th>COMMENT</th>
                  <th>SENTIMENT</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
      </table>
      <button class="btn btn-lg btn-primary">save to csv</button><button class="btn btn-lg btn-primary ml-5">
          save to execl</button>
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>