<mat-tab-group mat-align-tabs="center">
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="fab fa-facebook"></i>
     <div style="padding: 10px;"> Facebook </div>
    </ng-template>
      <div style="padding: 30px;">
            <div class="input-group mb-3 input-group-lg">
              <div class="input-group-prepend">
                  <span class="input-group-text">Page ID</span>
              </div>
              <input #pageid type="text" class="form-control" placeholder="123456789101122">
              <div class="input-group-prepend">
                  <span class="input-group-text">Posts ID</span>
              </div>
              <input #postid type="text" class="form-control" placeholder="123456789101122">
          </div>
      
          <div class="input-group mb-3 input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text">Token from Facebook GraphAPI</span>
            </div>
            <input #token type="text" class="form-control">
        </div>
        <small ><a (click)="openDialogTipsFace()" style="color: blue;text-decoration: underline;cursor: pointer;" target="_blank">click here to know how to get the token</a></small>
        <div class="w-100 pr-0 display-box">
            <button class="btn btn-primary btn-lg float-right mr-5"
                (click)="getpost(pageid.value, postid.value, token.value)">
                Get Post
            </button>
        </div>

        <div *ngIf="posts.length != 0">
          <div *ngFor="let post of posts">


              <div *ngIf="(post.hasOwnProperty('error') === false)">
                  <div *ngIf="post.hasOwnProperty('content')">
                      <hr class="mt-1">
                      Post Content :
                      <br>
                      {{post.content}}


                  </div>
                  <div *ngIf="post.hasOwnProperty('media')">
                      <img src="{{post.media.image.src}}" alt=""
                          width="{{post.media.image.width}}" height="{{post.media.image.height}}">
                  </div>


              </div>

              <div *ngIf="post.hasOwnProperty('error')">
                  <div class="alert alert-danger alert-dismissible fade show">
                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                      <strong>Error</strong> {{post.error}}
                  </div>
              </div>


          </div>
          <div *ngIf="analyzing">
              <div class="spinner-border text-warning"></div> analysing post ...
          </div>
          <button (click)="analyse_Post(pageid.value, postid.value, token.value)"
              class="btn btn-warning btn-lg float-right mr-5">
              Analyse Posts
          </button>
      </div>
    </div>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <i class="fab fa-instagram"></i>
      <div style="padding: 10px;"> Instagram</div>
    </ng-template>
    
    
        <div style="padding: 30px;">
          <div class="input-group mb-3 input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text">Page ID</span>
            </div>
            <input #pageid type="text" class="form-control" placeholder="123456789101122">
            <div class="input-group-prepend">
                <span class="input-group-text">Posts ID</span>
            </div>
            <input #postid type="text" class="form-control" placeholder="123456789101122">
        </div>

        <div class="input-group mb-3 input-group-lg">
          <div class="input-group-prepend">
              <span class="input-group-text">Token from Facebook GraphAPI</span>
          </div>
          <input #token type="text" class="form-control">
      </div>
      <small ><a (click)="openDialogTipsFace()" style="color: blue;text-decoration: underline;cursor: pointer;" target="_blank">click here to know how to get the token</a></small>
      <div class="w-100 pr-0 display-box">
          <button class="btn btn-primary btn-lg float-right mr-5"
              (click)="getpost(pageid.value, postid.value, token.value)">
              Get Post
          </button>
      </div>

      <div *ngIf="posts.length != 0">
        <div *ngFor="let post of posts">


            <div *ngIf="(post.hasOwnProperty('error') === false)">
                <div *ngIf="post.hasOwnProperty('content')">
                    <hr class="mt-1">
                    Post Content :
                    <br>
                    {{post.content}}


                </div>
                <div *ngIf="post.hasOwnProperty('media')">
                    <img src="{{post.media.image.src}}" alt=""
                        width="{{post.media.image.width}}" height="{{post.media.image.height}}">
                </div>


            </div>

            <div *ngIf="post.hasOwnProperty('error')">
                <div class="alert alert-danger alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Error</strong> {{post.error}}
                </div>
            </div>


        </div>
        <div *ngIf="analyzing">
            <div class="spinner-border text-warning"></div> analysing post ...
        </div>
        <button (click)="analyse_Post(pageid.value, postid.value, token.value)"
            class="btn btn-warning btn-lg float-right mr-5">
            Analyse Posts
        </button>
    </div>
    </div>


  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
        <i class="fab fa-amazon"></i>
      <div style="padding: 10px;">Amazon</div>
    </ng-template>

    <div style="padding: 30px;">
    <div class="input-group mb-3 input-group-lg">
      <div class="input-group-prepend">
          <span class="input-group-text">Amazon Product URl</span>
      </div>
      <input #url type="text" class="form-control">
  </div>
  <div class="w-100 pr-0 display-box">
      <button class="btn btn-primary btn-lg float-right mr-5"
          (click)="fetchAmazonPost(url.value)">
          Get Product
      </button>
  </div>

  <div *ngIf="posts.length != 0">
    <div *ngFor="let post of posts">


        <div *ngIf="(post.hasOwnProperty('error') === false)">
            <div *ngIf="post.hasOwnProperty('content')">
                <hr class="mt-1">
                Post Content :
                <br>
                {{post.content}}


            </div>
            <div *ngIf="post.hasOwnProperty('media')">
                <img src="{{post.media.image.src}}" alt=""
                    width="{{post.media.image.width}}" height="{{post.media.image.height}}">
            </div>


        </div>

        <div *ngIf="post.hasOwnProperty('error')">
            <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Error</strong> {{post.error}}
            </div>
        </div>


    </div>
    <div *ngIf="analyzing">
        <div class="spinner-border text-warning"></div> analysing post ...
    </div>
    <button (click)="analyse_Post(pageid.value, postid.value, token.value)"
        class="btn btn-warning btn-lg float-right mr-5">
        Analyse Posts
    </button>
</div>
</div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
        <i class="fab fa-linkedin"></i>
      <div style="padding: 10px;">LinkedIn</div>
    </ng-template>

    <div style="padding: 30px;">
        <div class="input-group mb-3 input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text">Profile Link</span>
            </div>
            <input #token type="text" class="form-control">
        </div>
  <div class="w-100 pr-0 display-box">
      <button class="btn btn-primary btn-lg float-right mr-5"
          (click)="getpost(pageid.value, postid.value, token.value)">
          Get Post
      </button>
  </div>


</div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <i class="fab fa-twitter"></i>
      <div style="padding: 10px;">Twitter</div>
    </ng-template>

    <div style="padding: 30px;">
      <div class="input-group mb-3 input-group-lg">
        <div class="input-group-prepend">
            <span class="input-group-text">Page ID</span>
        </div>
        <input #pageid type="text" class="form-control" placeholder="123456789101122">
        <div class="input-group-prepend">
            <span class="input-group-text">Posts ID</span>
        </div>
        <input #postid type="text" class="form-control" placeholder="123456789101122">
    </div>

    <div class="input-group mb-3 input-group-lg">
      <div class="input-group-prepend">
          <span class="input-group-text">Token from Facebook GraphAPI</span>
      </div>
      <input #token type="text" class="form-control">
  </div>
  <small ><a href="https://www.google.com/" target="_blank">click here to know how to get the token</a></small>
  <div class="w-100 pr-0 display-box">
      <button class="btn btn-primary btn-lg float-right mr-5"
          (click)="getpost(pageid.value, postid.value, token.value)">
          Get Post
      </button>
  </div>

  <div *ngIf="posts.length != 0">
    <div *ngFor="let post of posts">


        <div *ngIf="(post.hasOwnProperty('error') === false)">
            <div *ngIf="post.hasOwnProperty('content')">
                <hr class="mt-1">
                Post Content :
                <br>
                {{post.content}}


            </div>
            <div *ngIf="post.hasOwnProperty('media')">
                <img src="{{post.media.image.src}}" alt=""
                    width="{{post.media.image.width}}" height="{{post.media.image.height}}">
            </div>


        </div>

        <div *ngIf="post.hasOwnProperty('error')">
            <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Error</strong> {{post.error}}
            </div>
        </div>


    </div>
    <div *ngIf="analyzing">
        <div class="spinner-border text-warning"></div> analysing post ...
    </div>
        <button (click)="analyse_Post(pageid.value, postid.value, token.value)"
            class="btn btn-warning btn-lg float-right mr-5">
            Analyse Posts
        </button>
    </div>
    </div>
  </mat-tab>
</mat-tab-group>