<div class="col-12">
    <div id="demo" class="carousel slide" data-ride="carousel" style="width: 100%; " >
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner" >
            <div class="carousel-item active">
                <img src="../../assets/xd/1.png" alt="Los Angeles" style=" width:100%; ">
                <div class="carousel-caption my-caption" >
                    <h1>SentiDigital</h1>
                    <p>We are transformative Digital <br>Marketing </p>
                    <button type="button" class="w3-btn w3-white" onclick="window.location.href='service';">Discover</button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/xd/3.png" alt="New York" style=" width:100%; ">
                <div class="carousel-caption_second my-caption ">
                    <h1>SentiDigital</h1>
                    <p>We use Artificial Marketing <br> Intelligence to provide valuable <br>insights for you </p>
                    <button type="button" class="w3-btn w3-white" onclick="window.location.href='service';">Discover</button>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>


<div class="w-25 p-3">
    <div class="social_mediam_bottom" >
        <ul class="list-unstyled list-inline">
            <li class="list-inline-item"><a href=""><span class="social-icon"><i class="fab fa-instagram "></i></span></a></li>
            <li class="list-inline-item"><a href=""><span class="social-icon"><i class="fab fa-linkedin "></i></span></a></li>
            <li class="list-inline-item"><a href=""><span class="social-icon-y"><i class="fab fa-youtube "></i></span></a></li>
        </ul>
    </div>
</div>



<div class="img_container">
    <div class="img_sentiment">
        <img src="assets/xd/Analyse topics.png" alt="">    
    </div>
    <div>
        <p>START YOUR FREE TRIAL</p>
    </div>
</div>





<div class="more-info">
    <div class="container" style="margin-bottom: -10%; ">
        <div class="row">
            <div class="col-md-6">
                <div class="right-image">
                        <img src="assets/xd/ggez.png" alt="">
                </div>
            </div>
            <div class="col-md-6 align-self-center">
                <div class="right-content">
                    <h2>All-In-One Digital Marketing</h2>
                    <p>Changes in purchasing behavior and the multitude of touch points have caused the volume of data to increase exponentially. 
                    <br><br>
                    The challenge for the brand today is to be able to take advantage of these quantities of data in order to enrich its strategy.
                    <br><br>
                    At  <em>SentiDigital agency </em>we have built analysis tools thanks to artificial intelligence such as sentiment analysis, opinion mining, keyword research, analytics and many more revolutionary, innovative features to take advantage of this data.
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
    
    
    
<div class="more-info about-info" >
    <div class="col-12">
        <div class="container_right">
            <div class="more-info-content">
                <div class="row">
                    <div class="col-md-6 align-self-center">
                            <div class="right-content">
                            <h2>Why all-in-one <em>Digital Marketing ?</em></h2>
                            <p>Quite simply, it's not enough to just do digital marketing, but a whole<br> chain of strategies behind it combining business development, data<br> analysis with our intelligent tools as well as our expertise, a whole<br> knowledge of social networks.
                            <br>
                            </div>
                        </div>
                        <div class="col-md-6">
                                <div class="left-image">
                                <img  src="assets/xd/ques.png " alt="" >
                        </div>
                    </div>
                </div>
            </div>           
        </div>  
    </div> 
</div> 






<!-- ***** Testimonials Start ***** -->
<section class="section" id="testimonials" style="background-color: #ECE7FF;padding-top: 35px; ">
    <div class="container">
        <div class="row">
            <!-- ***** Testimonials Item Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="team-item">
                    <div class="team-content">
                        <i><img src="assets/xd/anal1.png" alt=""></i>
                        <br>
                        <div style="text-align: left; margin-left :28px ; letter-spacing: 0.1em;font-weight: bold;font-size: 130%; margin-top: 25px;">Predictive Marketing </div>
                        <p>As competition between brands is more and more intense and behavioral data has become abundant, predicting a purchase act is becoming a key element to accelerate consumer acquisition or loyalty and improve the customer experience.
                        </p>
                        <span><a href="service" style="color: #8386EC; text-decoration: underline;">Discover more</a></span>
                    </div>
                </div>
            </div>
            <!-- ***** Testimonials Item End ***** -->
            
            <!-- ***** Testimonials Item Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="team-item">
                    <div class="team-content">
                        <i><img src="assets/xd/anal2.png" alt=""></i>
                        <br>
                        <div style="text-align: left; margin-left :28px ;letter-spacing: 0.1em; font-weight: bold;font-size: 130%; margin-top: 25px;">Business Development  </div>
                        <p>If you are planning to develop your business, improve your sales, your revenues, your brand awareness, whether on a national or international scale, we are here to help you achieve your goals. </p>
                        <span><a href="service" style="color: #8386EC; text-decoration: underline;">Discover more</a></span>
                        </div>
                </div>
            </div>
            <!-- ***** Testimonials Item End ***** -->
            
            <!-- ***** Testimonials Item Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="team-item">
                    <div class="team-content">
                        <i><img src="assets/xd/anal3.png" alt=""></i>
                        <br>
                        <div style="text-align: left; margin-left :28px ;font-weight: bold;font-size: 130%; margin-top: 25px; letter-spacing: 0.1em;">Sentiment Analysis tool  </div>
                        <p>Yes, you can now analyze by yourself what your customer or prospect says about your brand in the different social network channels thanks to our revolutionary and powerful 2-in-1 tool which is the Sentiment Analysis. </p>
                        <span><a href="service" style="color: #8386EC; text-decoration: underline;">Discover more</a></span>
                    </div>
                </div>
            </div>
            <!-- ***** Testimonials Item End ***** -->
        </div>
    </div>
</section>
<!-- ***** Testimonials End ***** -->

  


<div class="col-12">
    <section class="testimonials ">   
        <div class="container">
            <h1 class="testimonials_title">They trusted us</h1>
            <div class="row row justify-content-center">
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="assets/xd/mm.png" alt="..." />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="assets/xd/nn.png" alt="..." />
                    </div>
                </div>
            </div>
        </div>
    </section> 
</div>
        


<div class="col-12">
    <div class="row">
        <div class="inscription_contact col-md-12 .col-xs-12">
            <a id="link" href="#section_contact">Tell us about your project</a>
        </div>
    </div>
</div>

<h2 id="section_contact"></h2>
<diV class="_contact">        
    <div class="row_">
        <div class="contact_social col-sm-4">
            <div class="row">
                <div class="col-sm-2">                        
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item"><a href=""><span class="social-icon"><i class="fab fa-instagram "></i></span></a></li>
                        <li class="list-inline-item"><a href=""><span class="social-icon"><i class="fab fa-linkedin "></i></span></a></li>
                        <li class="list-inline-item"><a href=""><span class="social-icon-y"><i class="fab fa-youtube "></i></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="forms col-sm-4" > 
            <div class="mb-3">
                <div class="experience">
                    <input  type="text"  class="btn_c" name="username" id="username" placeholder="First Name*">
                </div>
                
            </div>
            <div class="mb-3">
                <div class="experience">
                    <input  type="text" class="btn_c" name="username" id="username" placeholder="Last Name*">
                </div>
            </div>
            <div class="mb-3">
                <div class="experience">
                    <input  type="text" class="btn_c" name="username" id="username" placeholder="Your E-mail Address*">
                </div>
            </div>
            <div class="mb-3">
                <div class="experience">
                    <input  type="text"  class="btn_c" name="username" id="username" placeholder="Your phone number">
                </div>
            </div>
            <div class="mb-3">
                <textarea class="form-control_textarea rounded-0" id="exampleFormControlTextarea1"  placeholder="Message" rows="7" cols="57"></textarea>
            </div>
            <div class="mb-3">
                <button  class ="btn" type="submit" mat-raised-button mat-button>Sign In</button>
            </div>  
        </div>

        <div class="forms_img col-sm-4">
            <div class="left-image-inscription" ></div>                  
        </div>
    </div>
</diV>