
/* carousel */

.carousel-indicators li {
	width: 20px;
	height: 20px;
	border-radius: 100%;	
  }


  .carousel-inner{
	margin-left: 2.3%;
	margin-bottom: 3%;
	width: 95%;
	background-color: blue;
  } 
  .carousel-inner img {       
	display:block;
	width:93%;
	max-height: 350px !important;
 }

.carousel-caption {
	position: absolute;
	top:55px ;
	margin-left: 0%;
    right:65%;
    text-align: left;
   
    left: auto;

}
.carousel-caption h1 {
	font-weight: bold;
	font-size: 35px;
	font-family: 'Lucida Console';
	color: black;
}

.carousel-caption p {
	margin-top: 5%;
	font-size: 20px;
	font-family: 'Montserrat';
	line-height: 1.3;
	color: black;
}

.carousel-caption button {
	font-size: 15px;
	font-family: 'Montserrat';
	font-weight: bold;
	margin-top: 5%;
	background-color: #FFFFFF;
	border: #FFFFFF;
	padding: 14px 28px;
	height: 20%;
}


.carousel-caption_second {
	
	position: absolute;
	top:70px ;
    right: 65%;
    text-align: left;
    max-width: 100%;
    left: auto;

}
.carousel-caption_second h1 {
	font-weight: bold;
	color: white;
	font-size: 35px;
	font-family: 'Lucida Console';
	color: black;
}

.carousel-caption_second p {
	color: white;
	margin-top: 5%;
	font-size: 20px;
	font-family: 'Montserrat';
	line-height: 1.3;
	width: 100%;
	color: black;
}

.carousel-caption_second button {
	font-size: 15px;
	font-family: 'Montserrat';
	font-weight: bold;
	margin-top: 5%;
	background-color: #FFFFFF;
	border: #FFFFFF;
	padding: 14px 28px;
}


/* social media icon */
.social-icon {
    height: 30px;

    flex: 1 30px;
    justify-content: center;
    align-items: center;
    color: #8386EB;
    font-size: 20px;
    margin-left: 11px;
    cursor: pointer

}

.social-icon-y {
    height: 30px;

    flex: 1 30px;
    justify-content: center;
    align-items: center;
    color: #8386EB;
    font-size: 18px;
    margin-left: 11px;

    cursor: pointer

}

.social_mediam_bottom{
	position: absolute;
    bottom: 60px;
    width: 3%;
	margin-left: 1288px;

}




/* Be different */

.page-heading {
	text-align: center;
	background-color: #ECE7FF;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 40px 0px 60px 0px;
	color: #fff;
	width : 100%;

}

.page-heading h1 {
	text-transform: capitalize;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 2px;
	margin-bottom: 18px;
	color :#8386EB ;
	
}

.page-heading span {
	letter-spacing: 0.75px;
	font-size: 18px;
	color: black;
	line-height: 2;
	display: block;
}


/* More Info Marketing */

.more-info {

	padding-top: 6%;
	padding-bottom: 0%;
	width: 100%;

}

.more-info .right-image img {
	margin-top: -5%;
	margin-left: 6%;
	width: 80%;
	overflow: hidden;
	
}


.about-info .more-info-content {
	background-color: transparent;
}

.about-info .right-content {
	padding: 0px!important;
	margin-right: 10px;
	
}


.more-info .right-content span {
	text-transform: uppercase;
	font-size: 15px;
	color: white;
	letter-spacing: 1px;
	margin-bottom: 10px;
	display: block;
}

.more-info .right-content h2 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 25px;
}

.more-info .right-content em {
	font-style: normal;
	color: #000000;
	font-weight: bold;
}

.more-info .right-content p {
	margin-bottom: 30px;
}

.about-info .right-content {
    margin-right: 0px;
    margin-bottom: 30px;
}

.more-info .more-info-content {
	background-color: #f7f7f7;
	
}

.about-info .more-info-content {		
	background-color: transparent;
	padding-top: 0%;
}

/* more information why degital marketing ? */
.more-info .left-image img {
	width: 50%;
	margin-left: 25%;
	overflow: hidden;
}
.container_right{
	margin-left: 15%;
}




/* Contact Information */

.contact-information {
	margin-top: 40px;
	background-color: #8386EB;
}

.contact-information .contact-item {
	padding: 60px 30px;
	background-color: #f7f7f7;
	text-align: center;
}

.contact-information .contact-item i {
	color:#884DA7 ;
	font-size: 48px;
	margin-bottom: 40px;
}

.contact-information .contact-item h4 {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.25px;
	margin-bottom: 15px;
}

.contact-information .contact-item p {
	margin-bottom: 20px;
}

.contact-information .contact-item a {
	font-weight: 600;
	color: #884DA7;
	font-size: 15px;
}



#toTop{
	position: absolute;
	bottom: 5px;
	right: 5px;
	width: 60px;
	height: 60px;
	background-image:url("/assets/xd/bott.png")
}

/* 
---------------------------------------------
team
--------------------------------------------- 
*/
.team-item {
	background: #fff;
	box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
	border-radius: 50px;
	position: relative;
	margin-bottom: 30px;
	padding-bottom: 25px;
	height: 450px;
  }
  
  .team-item:hover .team-content .team-info {
	margin-left: 30px;
  }
  
  .team-item i {
	display: block;
	margin-left: 25px;
	margin-top: 25px;
	font-size: 30px;
	color: #4E47DE;
	text-align: center;
  }
  
  .team-item .user-image {
	width: 60px;
	height: 60px;
	overflow: hidden;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	margin-left: 25px;
	float: left;
  }
  
  .team-item .team-content {
	text-align: left;
	overflow: hidden;
  }
  
  .team-item .team-content .team-info {
	float: left;
	margin-left: 20px;
	margin-top: 8px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
  }
  
  .team-item .team-content .team-info .user-name {
	display: block;
	font-weight: 400;
	font-size: 17px;
	color: #1e1e1e;
	letter-spacing: 0.25px;
	margin-bottom: 5px;
  }
  
  .team-item .team-content .team-info span {
	display: block;
	font-weight: 360px;
	font-size: 15px;
	
	letter-spacing: 0.25px;
  }
  
  .team-item .team-content p {
	margin-top: 10px;
	padding-left: 25px;
	padding-right: 25px;
	margin-bottom: 2px;
	font-weight: 400;
	font-size: 15px;
	color: #777;
	letter-spacing: 0.6px;
	line-height: 26px;
  }
  .team-item .team-content span {
	margin-top: 25px;
	padding-left: 25px;
	padding-right: 25px;
	margin-bottom: 25px;
	font-weight: 400;
	font-size: 15px;
	color: #777;
	letter-spacing: 0.6px;
	line-height: 26px;
  }

/* testimonials */
  .testimonials {
	padding-top: 3rem;
	padding-bottom: 1rem;
	background-color: white;
  }
 .testimonials_title{
	text-align: center;
	padding-bottom: 2rem;
	font-weight: bold;
	letter-spacing: 0.1em;
	
  }

  .testimonials .testimonial-item {
	max-width: 18rem;
  }
  .testimonials .testimonial-item img {
	max-width: 12rem;
	margin-left: 20%;
	box-shadow: 0px 5px 5px 0px #adb5bd;
  }
  
/* Tell us about your project */
  .inscription_contact{
	  background-color: white;
	  padding-top: 4rem;
	  padding-bottom: 4rem;
	  text-align: center;
  }
  .inscription_contact a{
	  color: #F6632F; 
	  font-size: 25px;
	  font-weight: bold;
	 
	  text-transform: uppercase;
  }

  /* contact inscription */
  ._contact{
	background-color: #ECE7FF ; 
	  padding-top: 4rem;
	  padding-bottom: 9rem;
	  margin-bottom: 5%;
	  width: 100%;

  }

  .forms{
	float: left;
	margin-left: 20%;
  }
  .form-control {
	border-radius : 0px;
	width: 100%;
	font-size: 13px;
	padding: 20px 20px;
	}

  .form-control_textarea{
	border-radius : 0px ;
	font-size: 15px;
  }

  .form-control_textarea::placeholder{
	  padding: 2%;
	  padding-right: 10%;
  }


  .btn {
	  width: 100%;
	  background-color: #F6632F ;
	  border: #F6632F ;
	  font-weight: bold;
	  border-radius : 0px;
	  color: white;
	  font-weight: bold;
	  font-size: large;
	  padding: 1%;
	  
  }
  .forms_img{
	margin-left: 55%;
  }
  .left-image-inscription{
	 
    background:url("/assets/xd/Groupe 1212.png")  center no-repeat; 
    background-size:420px 400px ;
    background-position: left 30% bottom 60%;
    width: 100%;
    height: 400px;
    object-position: 100px 50px;
    min-height: 250px;     
}

.btn_c{
	width : 100%;
	padding: 2%;
	letter-spacing: 0.25px;
}



/* social media conversation*/


.contact_social{
    position :absolute;
	margin-bottom: 550px;
	width: 7%;
    margin-left: 200px;
	margin-top: 27.5%;	
}

.img_sentiment img{
	width : 100%
}

.img_container p{
	font-size: 20px;
	color :#261f41;
	position: absolute;
	top: 890px;
	left: 55%;
	font-style: italic;

	cursor: pointer;
	color: #ECE7FF ;
}