

/* More Info */

.more-info {
	margin-top: 40px;
	margin-bottom: -10%;
}

.more-info .left-image img {
	width: 100%;
	overflow: hidden;
	margin-bottom: 15%;
}

.more-info .more-info-content {
	background-color: #f7f7f7;
}

.about-info .more-info-content {
	background-color: transparent;
}



.about-info .right-content {
	padding: 0px!important;
	margin-right:100px;
}


.more-info .right-content h2 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 35px;
}

.more-info .right-content em {
	font-weight: bold;
	color: #F6632F;
	font-family:Arial, Helvetica, sans-serif;;
}

.more-info .right-content p {
	margin-bottom: 35px;
	font-size: 20px;
	line-height: normal;
	letter-spacing: 0.01px;
	text-align: left;
}

.about-info .right-content {
    margin-right: 10%px;
    margin-bottom: 20px;
}

.more-info .more-info-content {
	background-color: #f7f7f7;
}

.about-info .more-info-content {
	background-color: transparent;
}



  /* social media */ 
  .social-icon {
    height: 30px;
    width: 60%;
    flex: 1 30px;
    justify-content: center;
    align-items: center;
    color: #8386EB;
    font-size: 20px;
    margin-left: 11px;
    cursor: pointer

}

.social-icon-y {
    height: 30px;
    width: 60%;
    flex: 1 30px;
    justify-content: center;
    align-items: center;
    color: #8386EB;
    font-size: 18px;
    margin-left: 8px;

    cursor: pointer

}

.social_mediam_bottom{
	position: absolute;
    bottom: 20px;
	width: 10%;
    margin-right: 40px;


}

/* btn  bool */
.btn {
	width: 40%;
	background-color: #F6632F ;
	border: #F6632F ;
	font-weight: bold;
	border-radius : 0px;
	margin-right: 50%;	
}

 /* contact inscription */
 ._contact{
	background-color: #ECE7FF ; 
	  padding-top: 4rem;
	  padding-bottom: 9rem;
	  margin-bottom: 5%;
	  width: 100%;

  }

  .forms{
	float: left;
	margin-left: 20%;
  }
  .form-control {
	border-radius : 0px;
	width: 100%;
	font-size: 13px;
	padding: 20px 20px;
	}

  .form-control_textarea{
	border-radius : 0px ;
	font-size: 15px;
  }

  .form-control_textarea::placeholder{
	  padding: 2%;
	  padding-right: 10%;
  }


  .btn_F {
	  width: 100%;
	  margin-right: 20%;
	  background-color: #F6632F ;
	  border: #F6632F ;
	  font-weight: bold;
	  border-radius : 0px;
	  padding: 10px;
	  
  }

  .forms_img{
	margin-left: 55%;
  }
  .left-image-inscription{
	 
    background:url("/assets/xd/Groupe 1212.png")  center no-repeat; 
    background-size:420px 400px ;
    background-position: left 30% bottom 60%;
    width: 100%;
    height: 400px;
    object-position: 100px 50px;
    min-height: 250px;     
}



.btn_c{
	width : 100%;
	padding: 2%;
	letter-spacing: 0.25px;
}




/* social media conversation*/


.contact_social{
    position :absolute;
	margin-bottom: 550px;
	width: 7%;
    margin-left: 200px;
	margin-top: 27.5%;	
}

