
	<div class="more-info about-info" style=" width: 100%;">
		<div class="container">
		  <div class="row">
			<div class="col-md-12">
			  <div class="more-info-content">
				<div class="row">
				  <div class="col">
					<div class="right-content" style="margin-top: 10%; ">
					  <p><em>SentiDigital  </em>  is the first agency specialized in the development of <br>your company offering a 3-in-1 solution: Digital Marketing, Business<br> Development and Social Network Analysis tool founded in 2021<br>
						Our mission is to accompany you by providing you with the best<br> solutions adapted to your objectives and your budget. We believe <br>that each person is unique, so bring your unique gift and let <br>your creativity speak for you!
						</p>					
					  <br>
					</div>
				  </div>
				  <div class="col-md-auto" >
					<div class="left-image" >
					  <img  width="100%" src="assets/xd/abb.png" alt="">
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
		

	  <section  style="  width: 100% ;  padding-bottom: 5%;">
		<div class="col-12">
			<div class="container-second-marketing">
				<div class="row" >
					<div class="w-100" ></div>
						<div class="col-4" >
							<div class="container-fourth-img-left" >
								<div class="social_mediam_bottom">
									<ul class="list-unstyled list-inline">
										<li class="list-inline-item"><a href=""><span class="social-icon"><i class="fab fa-instagram "></i></span></a></li>
										<li class="list-inline-item"><a href=""><span class="social-icon"><i class="fab fa-linkedin "></i></span></a></li>
										<li class="list-inline-item"><a href=""><span class="social-icon-y"><i class="fab fa-youtube "></i></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					
					<div class="col-6" style="margin-left:-10%;">
						<div class="container"  >
							<button type="button"   class="btn btn-primary " (click)="toggleTag()" >Book a free call</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

<form *ngIf="showMe">
	<diV class="_contact">        
		<div class="row_">
			<div class="contact_social col-sm-4">
				<div class="row">
					<div class="col-sm-2">                        
						<ul class="list-unstyled list-inline">
							<li class="list-inline-item"><a href=""><span class="social-icon"><i class="fab fa-instagram "></i></span></a></li>
							<li class="list-inline-item"><a href=""><span class="social-icon"><i class="fab fa-linkedin "></i></span></a></li>
							<li class="list-inline-item"><a href=""><span class="social-icon-y"><i class="fab fa-youtube "></i></span></a></li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="forms col-sm-4" > 
				<div class="mb-3">
					<div class="experience">
						<input  type="text"  class="btn_c" name="username" id="username" placeholder="First Name*">
					</div>
					
				</div>
				<div class="mb-3">
					<div class="experience">
						<input  type="text" class="btn_c" name="username" id="username" placeholder="Last Name*">
					</div>
				</div>
				<div class="mb-3">
					<div class="experience">
						<input  type="text" class="btn_c" name="username" id="username" placeholder="Your E-mail Address*">
					</div>
				</div>
				<div class="mb-3">
					<div class="experience">
						<input  type="text"  class="btn_c" name="username" id="username" placeholder="Your phone number">
					</div>
				</div>
				<div class="mb-3">
					<textarea class="form-control_textarea rounded-0" id="exampleFormControlTextarea1"  placeholder="Message" rows="7" cols="57"></textarea>
				</div>
				<div class="mb-3">
					<button type="submit" class="btn_F btn-primary mb-2">Send Message</button>
				</div>  
			</div>
	
			<div class="forms_img col-sm-4">
				<div class="left-image-inscription" ></div>                  
			</div>
		</div>
	</diV>

</form>
