.mediaViewInfo {
	--web-view-name: HOMEPAGE – 4;
	--web-view-id: HOMEPAGE__4;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: HOMEPAGE__4;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#HOMEPAGE__4 {
	position: absolute;
	width: 1600px;
	height: 4871px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: HOMEPAGE – 4;
	--web-view-id: HOMEPAGE__4;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
#logofinalllllll {
	position: absolute;
	width: 312px;
	height: 300px;
	left: 443px;
	top: 3675px;
	overflow: visible;
}
#Ellipse_38 {
	fill: rgba(255,255,255,1);
	stroke: rgba(131,134,236,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_38 {
	position: absolute;
	overflow: visible;
	width: 312px;
	height: 300px;
	left: 890px;
	top: 3675px;
}
#Icon_awesome-linkedin {
	fill: rgba(131,134,235,1);
}
.Icon_awesome-linkedin {
	overflow: visible;
	position: absolute;
	width: 23.295px;
	height: 23.295px;
	left: 1534.324px;
	top: 658.607px;
	transform: matrix(1,0,0,1,0,0);
}
#ABOUT {
	left: 479px;
	top: 83px;
	position: absolute;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Bahnschrift;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#PACKAGE {
	left: 631px;
	top: 83px;
	position: absolute;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: Bahnschrift;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#SERVICES {
	left: 823px;
	top: 83px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	text-align: left;
	font-family: Bahnschrift;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
	text-transform: uppercase;
}
#BLOG {
	left: 1021px;
	top: 83px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	text-align: left;
	font-family: Bahnschrift;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
	text-transform: uppercase;
}
#HOME {
	left: 341px;
	top: 84px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Bahnschrift;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Rectangle_129 {
	fill: rgba(131,134,235,1);
	stroke: rgba(131,134,235,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_129 {
	position: absolute;
	overflow: visible;
	width: 72px;
	height: 4px;
	left: 339px;
	top: 75px;
}
#PODCAST {
	left: 1161px;
	top: 83px;
	position: absolute;
	overflow: visible;
	width: 106px;
	white-space: nowrap;
	text-align: left;
	font-family: Bahnschrift;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
	text-transform: uppercase;
}
#CloudSourcing {
	position: absolute;
	width: 1387px;
	height: 520px;
	left: 114px;
	top: 199px;
	overflow: visible;
}
#Group_960 {
	transform: matrix(1,0,0,1,762.1816,752.1313) rotate(0deg);
	transform-origin: center;
	position: absolute;
	width: 119.499px;
	height: 26.192px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_115 {
	fill: rgba(131,134,235,1);
	stroke: rgba(131,134,235,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_115 {
	overflow: visible;
	position: absolute;
	width: 25.373px;
	height: 25.373px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_3 {
	opacity: 0.31;
	fill: rgba(131,134,235,1);
	stroke: rgba(131,134,235,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_3 {
	position: absolute;
	overflow: visible;
	width: 26.192px;
	height: 26.192px;
	left: 46.654px;
	top: 0px;
}
#Ellipse_4 {
	opacity: 0.31;
	fill: rgba(131,134,235,1);
	stroke: rgba(131,134,235,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_4 {
	position: absolute;
	overflow: visible;
	width: 25.373px;
	height: 25.373px;
	left: 94.126px;
	top: 0px;
}
#Group_984 {
	position: absolute;
	width: 167px;
	height: 55px;
	left: 245px;
	top: 583px;
	overflow: visible;
}
#Rectangle_138 {
	fill: rgba(255,255,255,1);
}
.Rectangle_138 {
	position: absolute;
	overflow: visible;
	width: 167px;
	height: 55px;
	left: 0px;
	top: 0px;
}
#DISCOVER {
	left: 37px;
	top: 17px;
	position: absolute;
	overflow: visible;
	width: 94px;
	white-space: nowrap;
	text-align: right;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(0,0,0,1);
	letter-spacing: -0.5px;
}
#We_are_transformative_Digital_ {
	left: 242px;
	top: 420px;
	position: absolute;
	overflow: visible;
	width: 536px;
	white-space: nowrap;
	line-height: 44px;
	margin-top: -2px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: lighter;
	font-size: 40px;
	color: rgba(255,255,255,1);
	letter-spacing: -0.5px;
}
#SentiDigital {
	left: 242px;
	top: 330px;
	position: absolute;
	overflow: visible;
	width: 319px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 38px;
	color: rgba(255,255,255,1);
	letter-spacing: 1.9px;
}
#Icon_awesome-search {
	fill: rgba(131,134,235,1);
}
.Icon_awesome-search {
	overflow: visible;
	position: absolute;
	width: 37.494px;
	height: 37.5px;
	left: 1463.506px;
	top: 68.25px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_open-person {
	fill: rgba(131,134,235,1);
}
.Icon_open-person {
	overflow: visible;
	position: absolute;
	width: 29.5px;
	height: 29.5px;
	left: 1532.5px;
	top: 68.25px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-youtube {
	fill: rgba(131,134,235,1);
}
.Icon_awesome-youtube {
	overflow: visible;
	position: absolute;
	width: 26.029px;
	height: 23.093px;
	left: 1534.148px;
	top: 692.828px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-angle-down {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-angle-down {
	overflow: visible;
	position: absolute;
	width: 39.811px;
	height: 25.711px;
	transform: matrix(1,0,0,1,1449.1463,455.1444) rotate(-89deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Icon_awesome-angle-down_bj {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-angle-down_bj {
	overflow: visible;
	position: absolute;
	width: 39.811px;
	height: 25.711px;
	transform: matrix(1,0,0,1,133.1463,455.1444) rotate(86deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Group_985 {
	position: absolute;
	width: 25.119px;
	height: 25.113px;
	left: 1534.412px;
	top: 622.569px;
	overflow: visible;
}
#Path_116 {
	fill: rgba(131,134,235,1);
}
.Path_116 {
	overflow: visible;
	position: absolute;
	width: 23.665px;
	height: 22.915px;
	left: 0.939px;
	top: 1.099px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-instagram {
	fill: rgba(131,134,235,1);
}
.Icon_awesome-instagram {
	overflow: visible;
	position: absolute;
	width: 25.118px;
	height: 25.113px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_13 {
	fill: rgba(255,255,255,1);
}
.Ellipse_13 {
	position: absolute;
	overflow: visible;
	width: 3.406px;
	height: 3.406px;
	left: 17.455px;
	top: 3.992px;
}
#Ellipse_14 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_14 {
	position: absolute;
	overflow: visible;
	width: 12.772px;
	height: 12.772px;
	left: 6.386px;
	top: 6.546px;
}
#Rectangle_153 {
	opacity: 0.16;
	fill: rgba(131,134,235,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_153 {
	position: absolute;
	overflow: visible;
	width: 1600px;
	height: 552px;
	left: 0px;
	top: 821px;
}
#Your_Expert_agency_in_Social_N {
	left: 214px;
	top: 971px;
	position: absolute;
	overflow: visible;
	width: 1173px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 29px;
	color: rgba(0,0,0,1);
}
#_Be_different_to_reach_______e {
	left: 0px;
	top: 1006px;
	position: absolute;
	overflow: visible;
	width: 1601px;
	height: 356px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 94px;
	color: rgba(131,134,235,1);
	text-transform: uppercase;
}
#All-In-One_Digital_Marketing_ {
	left: 800px;
	top: 1438px;
	position: absolute;
	overflow: visible;
	width: 587px;
	white-space: nowrap;
	text-align: right;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	color: rgba(0,0,0,1);
	letter-spacing: -0.5px;
}
#Why_all-in-one_digital_marketi {
	left: 102px;
	top: 2246px;
	position: absolute;
	overflow: visible;
	width: 702px;
	white-space: nowrap;
	text-align: right;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	color: rgba(0,0,0,1);
	letter-spacing: -0.5px;
}
#They_trusted_us {
	left: 599px;
	top: 3495px;
	position: absolute;
	overflow: visible;
	width: 404px;
	white-space: nowrap;
	text-align: right;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 53px;
	color: rgba(0,0,0,1);
	letter-spacing: -0.5px;
}
#_Changes_in_purchasing_behavio {
	left: 800px;
	top: 1512px;
	position: absolute;
	overflow: hidden;
	width: 708px;
	height: 566px;
	line-height: 36px;
	margin-top: -7px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(0,0,0,1);
	letter-spacing: -0.5px;
}
#Quite_simply_its_not_enough_to {
	left: 102px;
	top: 2338px;
	position: absolute;
	overflow: hidden;
	width: 708px;
	height: 159px;
	line-height: 36px;
	margin-top: -7px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: lighter;
	font-size: 22px;
	color: rgba(0,0,0,1);
	letter-spacing: -0.5px;
}
#ID5149654 {
	position: absolute;
	width: 625px;
	height: 625px;
	left: 89px;
	top: 1464px;
	overflow: visible;
}
# {
	left: 1078.806px;
	top: 2205px;
	position: absolute;
	overflow: visible;
	width: 177px;
	white-space: nowrap;
	line-height: 478px;
	margin-top: -93px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 292px;
	color: rgba(131,134,236,1);
	letter-spacing: -0.5px;
}
#_bz {
	opacity: 0.65;
	transform: matrix(1,0,0,1,1278.8063,2259.0001) rotate(14deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 30px;
	white-space: nowrap;
	line-height: 80px;
	margin-top: -15.5px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 49px;
	color: rgba(131,134,236,1);
	letter-spacing: -0.5px;
}
#_b {
	opacity: 0.65;
	transform: matrix(1,0,0,1,1197.2113,2198.6085) rotate(10deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	line-height: 87px;
	margin-top: -17px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 53px;
	color: rgba(131,134,236,1);
	letter-spacing: -0.5px;
}
#_ca {
	opacity: 0.65;
	transform: matrix(1,0,0,1,1084.1199,2208.2923) rotate(-24deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	line-height: 87px;
	margin-top: -17px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 53px;
	color: rgba(131,134,236,1);
	letter-spacing: -0.5px;
}
#_cb {
	opacity: 0.65;
	transform: matrix(1,0,0,1,1004.1199,2268.6419) rotate(-24deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	line-height: 87px;
	margin-top: -17px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 53px;
	color: rgba(131,134,236,1);
	letter-spacing: -0.5px;
}
#Rectangle_196 {
	opacity: 0.16;
	fill: rgba(131,134,235,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_196 {
	position: absolute;
	overflow: visible;
	width: 1600px;
	height: 770px;
	left: 0px;
	top: 2626px;
}
#Rectangle_216 {
	fill: rgba(131,134,236,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_216 {
	position: absolute;
	overflow: visible;
	width: 1600px;
	height: 770px;
	left: 0px;
	top: 4093px;
}
#Rectangle_197 {
	fill: rgba(255,255,255,1);
}
.Rectangle_197 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 392px;
	height: 568px;
	left: 180px;
	top: 2719px;
}
#Rectangle_198 {
	fill: rgba(255,255,255,1);
}
.Rectangle_198 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 392px;
	height: 568px;
	left: 613px;
	top: 2719px;
}
#Rectangle_199 {
	fill: rgba(255,255,255,1);
}
.Rectangle_199 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 392px;
	height: 568px;
	left: 1046px;
	top: 2719px;
}
#analysis {
	position: absolute;
	width: 91.595px;
	height: 94.581px;
	left: 321px;
	top: 2765.212px;
	overflow: visible;
}
#Path_536 {
	fill: rgba(246,103,52,1);
}
.Path_536 {
	overflow: visible;
	position: absolute;
	width: 73.523px;
	height: 94.581px;
	left: 2.871px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_537 {
	fill: rgba(131,134,236,1);
}
.Path_537 {
	overflow: visible;
	position: absolute;
	width: 37.157px;
	height: 37.157px;
	left: 54.438px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_22 {
	fill: rgba(246,103,52,1);
}
.Ellipse_22 {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 3px;
	left: 47px;
	top: 57.788px;
}
#Ellipse_23 {
	fill: rgba(246,103,52,1);
}
.Ellipse_23 {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 22px;
	top: 41.788px;
}
#Ellipse_24 {
	fill: rgba(246,103,52,1);
}
.Ellipse_24 {
	position: absolute;
	overflow: visible;
	width: 3px;
	height: 3px;
	left: 0px;
	top: 64.788px;
}
#Path_538 {
	fill: rgba(246,103,52,1);
}
.Path_538 {
	overflow: visible;
	position: absolute;
	width: 6.756px;
	height: 15.2px;
	left: 69.638px;
	top: 47.291px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_539 {
	fill: rgba(246,103,52,1);
}
.Path_539 {
	overflow: visible;
	position: absolute;
	width: 6.756px;
	height: 3.665px;
	left: 69.638px;
	top: 40.247px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_540 {
	fill: rgba(246,103,52,1);
}
.Path_540 {
	overflow: visible;
	position: absolute;
	width: 66.597px;
	height: 6.756px;
	left: 19.761px;
	top: 87.825px;
	transform: matrix(1,0,0,1,0,0);
}
#As_competition_between_brands_ {
	left: 215px;
	top: 2960px;
	position: absolute;
	overflow: visible;
	width: 310px;
	height: 353px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#If_you_are_planning_to_develop {
	left: 652px;
	top: 2960px;
	position: absolute;
	overflow: visible;
	width: 310px;
	height: 353px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Yes_you_can_now_analyze_by_you {
	left: 1081px;
	top: 2956px;
	position: absolute;
	overflow: visible;
	width: 310px;
	height: 353px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Rectangle_208 {
	fill: rgba(131,134,236,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_208 {
	position: absolute;
	overflow: visible;
	width: 13.997px;
	height: 21.709px;
	left: 793.115px;
	top: 2814.379px;
}
#Rectangle_209 {
	fill: rgba(131,134,236,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_209 {
	position: absolute;
	overflow: visible;
	width: 16.889px;
	height: 13.997px;
	left: 776.726px;
	top: 2822.092px;
}
#Path_556 {
	fill: rgba(246,103,52,1);
}
.Path_556 {
	overflow: visible;
	position: absolute;
	width: 94.59px;
	height: 94.59px;
	left: 750.881px;
	top: 2766.843px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_557 {
	fill: rgba(246,103,52,1);
}
.Path_557 {
	overflow: visible;
	position: absolute;
	width: 47.295px;
	height: 52.188px;
	left: 798.176px;
	top: 2766.843px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_210 {
	fill: rgba(131,134,236,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_210 {
	position: absolute;
	overflow: visible;
	width: 13.033px;
	height: 33.278px;
	left: 806.611px;
	top: 2802.811px;
}
#Rectangle_211 {
	fill: rgba(131,134,236,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_211 {
	position: absolute;
	overflow: visible;
	width: 13.997px;
	height: 42.918px;
	left: 819.144px;
	top: 2793.17px;
}
#Rectangle_212 {
	fill: rgba(131,134,236,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_212 {
	position: absolute;
	overflow: visible;
	width: 13.033px;
	height: 56.415px;
	left: 832.641px;
	top: 2779.673px;
}
#Path_558 {
	fill: rgba(246,103,52,1);
}
.Path_558 {
	overflow: visible;
	position: absolute;
	width: 87.657px;
	height: 47.295px;
	left: 750.881px;
	top: 2814.138px;
	transform: matrix(1,0,0,1,0,0);
}
#emotions {
	position: absolute;
	width: 107.947px;
	height: 102.12px;
	left: 1176.595px;
	top: 2757.673px;
	overflow: visible;
}
#Group_1106 {
	position: absolute;
	width: 104.779px;
	height: 85.819px;
	left: 1.584px;
	top: 14.717px;
	overflow: visible;
}
#Ellipse_29 {
	fill: rgba(131,134,236,1);
}
.Ellipse_29 {
	position: absolute;
	overflow: visible;
	width: 37.23px;
	height: 37.23px;
	left: 59.526px;
	top: 0px;
}
#Ellipse_30 {
	fill: rgba(254,244,139,1);
}
.Ellipse_30 {
	position: absolute;
	overflow: visible;
	width: 37.23px;
	height: 37.23px;
	left: 8.234px;
	top: 0px;
}
#Path_560 {
	fill: rgba(131,134,236,1);
}
.Path_560 {
	overflow: visible;
	position: absolute;
	width: 23.406px;
	height: 37.23px;
	left: 59.526px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_561 {
	fill: rgba(254,240,86,1);
}
.Path_561 {
	overflow: visible;
	position: absolute;
	width: 23.407px;
	height: 37.23px;
	left: 8.234px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_562 {
	fill: rgba(253,128,135,1);
}
.Path_562 {
	overflow: visible;
	position: absolute;
	width: 23.023px;
	height: 9.109px;
	left: 15.337px;
	top: 21.785px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_563 {
	fill: rgba(246,103,52,1);
}
.Path_563 {
	overflow: visible;
	position: absolute;
	width: 41.748px;
	height: 34.564px;
	left: 31.516px;
	top: 47.202px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1105 {
	position: absolute;
	width: 104.779px;
	height: 48.589px;
	left: 0px;
	top: 37.23px;
	overflow: visible;
}
#Ellipse_31 {
	fill: rgba(246,103,52,1);
}
.Ellipse_31 {
	position: absolute;
	overflow: visible;
	width: 9.911px;
	height: 9.911px;
	left: 47.54px;
	top: 25.576px;
}
#Path_564 {
	fill: rgba(246,103,52,1);
}
.Path_564 {
	overflow: visible;
	position: absolute;
	width: 55.795px;
	height: 8.106px;
	left: 24.492px;
	top: 40.483px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_565 {
	fill: rgba(246,103,52,1);
}
.Path_565 {
	overflow: visible;
	position: absolute;
	width: 104.779px;
	height: 10.381px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_566 {
	fill: rgba(253,128,135,1);
}
.Path_566 {
	overflow: visible;
	position: absolute;
	width: 13.838px;
	height: 8.49px;
	left: 71.222px;
	top: 21.785px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1107 {
	position: absolute;
	width: 107.947px;
	height: 102.12px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_567 {
	fill: transparent;
}
.Path_567 {
	overflow: visible;
	position: absolute;
	width: 107.947px;
	height: 88.988px;
	left: 0px;
	top: 13.132px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_568 {
	fill: rgba(0,0,0,1);
}
.Path_568 {
	overflow: visible;
	position: absolute;
	width: 26.191px;
	height: 12.277px;
	left: 15.338px;
	top: 34.917px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_569 {
	fill: rgba(0,0,0,1);
}
.Path_569 {
	overflow: visible;
	position: absolute;
	width: 3.168px;
	height: 4.59px;
	left: 20.403px;
	top: 23.703px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_570 {
	fill: rgba(0,0,0,1);
}
.Path_570 {
	overflow: visible;
	position: absolute;
	width: 3.168px;
	height: 4.59px;
	left: 33.295px;
	top: 23.703px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_571 {
	fill: rgba(0,0,0,1);
}
.Path_571 {
	overflow: visible;
	position: absolute;
	width: 17.006px;
	height: 11.656px;
	left: 71.222px;
	top: 34.917px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_572 {
	fill: rgba(0,0,0,1);
}
.Path_572 {
	overflow: visible;
	position: absolute;
	width: 8.591px;
	height: 7.19px;
	left: 68.511px;
	top: 20.954px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_573 {
	fill: rgba(0,0,0,1);
}
.Path_573 {
	overflow: visible;
	position: absolute;
	width: 8.591px;
	height: 7.19px;
	left: 82.349px;
	top: 20.954px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_574 {
	fill: rgba(0,0,0,1);
}
.Path_574 {
	overflow: visible;
	position: absolute;
	width: 3.168px;
	height: 5.551px;
	left: 52.39px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_575 {
	fill: rgba(0,0,0,1);
}
.Path_575 {
	overflow: visible;
	position: absolute;
	width: 5.036px;
	height: 4.647px;
	left: 43.894px;
	top: 4.211px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_576 {
	fill: rgba(0,0,0,1);
}
.Path_576 {
	overflow: visible;
	position: absolute;
	width: 5.036px;
	height: 4.647px;
	left: 59.018px;
	top: 4.211px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_577 {
	fill: rgba(0,0,0,1);
}
.Path_577 {
	overflow: visible;
	position: absolute;
	width: 13.079px;
	height: 13.079px;
	left: 47.54px;
	top: 75.939px;
	transform: matrix(1,0,0,1,0,0);
}
#Predictive_Marketing_ {
	left: 215px;
	top: 2924px;
	position: absolute;
	overflow: visible;
	width: 301px;
	height: 50px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Business_Development_ {
	left: 652px;
	top: 2924px;
	position: absolute;
	overflow: visible;
	width: 301px;
	height: 50px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Sentiment_Analysis_tool_ {
	left: 1081px;
	top: 2920px;
	position: absolute;
	overflow: visible;
	width: 301px;
	height: 50px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Path_578 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_578 {
	overflow: visible;
	position: absolute;
	width: 69.033px;
	height: 46.006px;
	left: 776.14px;
	top: 2768.632px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_213 {
	fill: rgba(255,180,1,1);
}
.Rectangle_213 {
	position: absolute;
	overflow: visible;
	width: 6.748px;
	height: 6.748px;
	left: 793.115px;
	top: 2797.99px;
}
#Rectangle_214 {
	fill: rgba(255,180,1,1);
}
.Rectangle_214 {
	position: absolute;
	overflow: visible;
	width: 5.784px;
	height: 6.748px;
	left: 806.611px;
	top: 2784.493px;
}
#Rectangle_215 {
	fill: rgba(255,180,1,1);
}
.Rectangle_215 {
	position: absolute;
	overflow: visible;
	width: 6.748px;
	height: 6.748px;
	left: 819.144px;
	top: 2771.961px;
}
#Image_1 {
	position: absolute;
	width: 251px;
	height: 251px;
	left: 921px;
	top: 3700px;
	overflow: visible;
}
#LOGO {
	left: 124px;
	top: 4161px;
	position: absolute;
	overflow: visible;
	width: 239px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 109px;
	color: rgba(255,255,255,0.702);
}
#ABOUT_dq {
	left: 579px;
	top: 4309px;
	position: absolute;
	overflow: visible;
	width: 117px;
	white-space: nowrap;
	text-align: left;
	font-family: Bahnschrift;
	font-style: normal;
	font-weight: bold;
	font-size: 38px;
	color: rgba(255,255,255,1);
}
#PACKAGE_dr {
	left: 579px;
	top: 4410px;
	position: absolute;
	overflow: visible;
	width: 159px;
	white-space: nowrap;
	text-align: left;
	font-family: Bahnschrift;
	font-style: normal;
	font-weight: bold;
	font-size: 37px;
	color: rgba(255,255,255,1);
}
#SERVICES_ds {
	left: 581px;
	top: 4512px;
	position: absolute;
	overflow: visible;
	width: 169px;
	white-space: nowrap;
	text-align: left;
	font-family: Bahnschrift;
	font-style: normal;
	font-weight: bold;
	font-size: 37px;
	color: rgba(255,255,255,1);
	text-transform: uppercase;
}
#BLOG_dt {
	left: 579px;
	top: 4612px;
	position: absolute;
	overflow: visible;
	width: 92px;
	white-space: nowrap;
	text-align: left;
	font-family: Bahnschrift;
	font-style: normal;
	font-weight: bold;
	font-size: 37px;
	color: rgba(255,255,255,1);
	text-transform: uppercase;
}
#HOME_du {
	left: 579px;
	top: 4208px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	text-align: left;
	font-family: Bahnschrift;
	font-style: normal;
	font-weight: bold;
	font-size: 37px;
	color: rgba(255,255,255,1);
}
#PODCAST_dv {
	left: 581px;
	top: 4712px;
	position: absolute;
	overflow: visible;
	width: 156px;
	white-space: nowrap;
	text-align: left;
	font-family: Bahnschrift;
	font-style: normal;
	font-weight: bold;
	font-size: 37px;
	color: rgba(255,255,255,1);
	text-transform: uppercase;
}
#Icon_awesome-linkedin_dw {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-linkedin_dw {
	overflow: visible;
	position: absolute;
	width: 49.238px;
	height: 49.238px;
	left: 1371.552px;
	top: 4695.919px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-youtube_dx {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-youtube_dx {
	overflow: visible;
	position: absolute;
	width: 55.016px;
	height: 48.81px;
	left: 1460.021px;
	top: 4695.919px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1108 {
	position: absolute;
	width: 53.092px;
	height: 53.081px;
	left: 1279.228px;
	top: 4695.919px;
	overflow: visible;
}
#Path_116_dz {
	fill: rgba(255,255,255,1);
}
.Path_116_dz {
	overflow: visible;
	position: absolute;
	width: 50.021px;
	height: 48.434px;
	left: 1.986px;
	top: 2.323px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-instagram_d {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-instagram_d {
	overflow: visible;
	position: absolute;
	width: 53.092px;
	height: 53.081px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_13_d {
	fill: rgba(131,134,236,1);
}
.Ellipse_13_d {
	position: absolute;
	overflow: visible;
	width: 7.199px;
	height: 7.199px;
	left: 36.895px;
	top: 8.437px;
}
#Ellipse_14_d {
	fill: rgba(131,134,236,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_14_d {
	position: absolute;
	overflow: visible;
	width: 26.996px;
	height: 26.996px;
	left: 13.498px;
	top: 13.836px;
}
#Group_1960 {
	position: absolute;
	width: 64.351px;
	height: 43.701px;
	left: 121.245px;
	top: 50.521px;
	overflow: visible;
}
#Path_2885 {
	fill: rgba(131,134,235,1);
}
.Path_2885 {
	overflow: visible;
	position: absolute;
	width: 17.907px;
	height: 13.103px;
	left: 16.376px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2887 {
	fill: rgba(131,134,235,1);
}
.Path_2887 {
	overflow: visible;
	position: absolute;
	width: 17.623px;
	height: 13.726px;
	left: 0.823px;
	top: 29.975px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1959 {
	position: absolute;
	width: 64.351px;
	height: 43.247px;
	left: 0px;
	top: 0.007px;
	overflow: visible;
}
#Path_2884 {
	fill: rgba(246,103,52,1);
}
.Path_2884 {
	overflow: visible;
	position: absolute;
	width: 16.991px;
	height: 43.247px;
	left: 47.359px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2886 {
	fill: rgba(131,134,235,1);
}
.Path_2886 {
	overflow: visible;
	position: absolute;
	width: 34.684px;
	height: 26.476px;
	left: 0px;
	top: 9.258px;
	transform: matrix(1,0,0,1,0,0);
}
#SentiDigital_d {
	left: 97.268px;
	top: 102.391px;
	position: absolute;
	overflow: visible;
	width: 148.732px;
	height: 38.0878791809082px;
	text-align: left;
	font-family: Bodoni MT;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}