<div class="container">
    <div class="row">
      <div class="col border-right">
        <section>
            <form class="example-form" [formGroup]="firstword">
                <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>type a word</mat-label>
                <input matInput >
                </mat-form-field>
            </form>
            <div class="example-button-container">
                <button mat-mini-fab color="primary" aria-label="Example icon button with a home icon">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
        </section>

        <mat-divider [vertical]="true"></mat-divider>
      </div>
      <div class="col">
        <section>
            <form class="example-form" [formGroup]="secondeword">
                <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>type a word</mat-label>
                <input matInput >
                </mat-form-field>
            </form>
            <div class="example-button-container">
                <button mat-mini-fab color="primary" aria-label="Example icon button with a home icon">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
        </section>
      </div>
    </div>
  </div>
  