<ol>
    <li>Go to <a href="https://developers.facebook.com/tools/explorer/">Graph API Explorer</a>.</li>
    <li>In <b>Facebook App</b>, select an app used to obtain the access token.    </li>
    <li>In<b> User</b> or <b>Page</b>, select <b>User Token</b>.    </li>
    <li>Under <b>Permissions</b>, check ads_read.    </li>
    <li>Click <b>Generate Access Token</b>. The box on top of the button is populated with the access token.    </li>
    <li>Copy the token and paste it here.    </li>
  </ol>  