<div class="section " style="margin-top:62px;background: #ffffff  no-repeat center center fixed ;background-size: cover; ">

    <div class="row w-100 pt-5 px text-center align-items-center" >


    <div class="col col-lg-2 w-100">
        <div class="social_mediam_table">
            <ul class="list-unstyled list-inline">
                <li class="list-inline-item"><a href=""><span class="social-icon"><i class="fab fa-instagram "></i></span></a></li>
                <li class="list-inline-item"><a href=""><span class="social-icon"><i class="fab fa-linkedin "></i></span></a></li>
                <li class="list-inline-item"><a href=""><span class="social-icon-y"><i class="fab fa-youtube "></i></span></a></li>
            </ul>
        </div>
    </div>
       



        <div class="container-toggle-zone"> 
            <div class="container-toggle">
                <h1>Subscription plans</h1>
                <p style="color: rgb(165, 165, 167);">
                    <em style="color: #F6632F;">Yearly (Save 2 months) </em>
                <label class="switch">         
                    <input type="checkbox" >
                    <span class="slider round"></span>
                </label>
                Monthly</p>  
            </div>
        </div>



          <div class="container" style="width: 100%;">

            <div class="row w-100" >
                <div class="col col-lg-2">
                    <div class="card mb-3" style="max-width: 20rem;">
                        <div class="card-header">FREE</div>
                            <div class="card-body">
                            <h4 class="card-title" style="padding-bottom: 3%;"><sup>$</sup> 0</h4>
                            <p class="card-text" ><em style="font-weight: bold;">10K</em> Monthly mentions</p>
                            
                            <button type="button" class="btn btn-warning">Start free Now</button>
                            
                            <hr class="solid">
                            
                            <ul class="yes">
                                <li><p>Visualization Dashboard </p></li>
                            </ul>
                            
                            <hr class="solid">
                            <p>Email</p>
                            <hr class="solid">
                            <p><em style="font-weight: bold;">5</em> Projects</p>
                            <hr class="solid">
                            <p><em style="font-weight: bold;">10K /month</em> API social media posts and comments Sentiment Analysis 
                                (Facebook,Instagram, Twitter, Linkedin, Amazon) with a customized classification 
                            </p>
                            <hr class="solid">
                            <ul class="noo">
                                <li><p>Account consultant</p></li>
                            </ul>
                            <hr class="solid">
                            <ul class="noo">
                                <li><p>Get Sentiment Analysis and Mention Analysis together </p></li>
                            </ul>                           
                            <hr class="solid">
                            <ul class="yes">
                                <li><p>Pdf excel csv export</p></li>
                            </ul>
                        </div>
                    </div>

                    <div class="card stack-top-0 mb-3" style="max-width: 20rem;">
                        <div class="card-header">STARTER</div>
                            <div class="card-body">
                            <h4 class="card-title"><sup>$</sup> 149 <em>/Month</em></h4>
                            <p class="card-text"><em style="font-weight: bold;">80K</em> Monthly mentions</p>
                            <button type="button" class="btn btn-warning">Buy Now</button>
                            <hr class="solid">
                            
                            <ul class="yes">
                                <li><p>Visualization Dashboard </p></li>
                            </ul>

                            <hr class="solid">
                            <p>Email</p>
                            <hr class="solid">
                            <p><em style="font-weight: bold;">15</em> Projects</p>
                            <hr class="solid">
                            <p><em style="font-weight: bold;">80K /month</em> API social media posts and comments Sentiment Analysis 
                                (Facebook,Instagram, Twitter, Linkedin, Amazon) with a customized classification 
                            </p>
                            <hr class="solid">
                            <ul class="noo">
                                <li><p>Account consultant</p></li>
                            </ul>
                            <hr class="solid">
                            <ul class="noo">
                                <li><p>Get Sentiment Analysis and Mention Analysis together </p></li>
                            </ul>
                            <hr class="solid">
                            <ul class="yes">
                                <li><p>Pdf excel csv export</p></li>
                            </ul>
                        </div>
                    </div>

                    <div class="card stack-top-1 mb-3" style="max-width: 20rem;">
                            <div class="card-header">PRO</div>
                            <div class="card-body">
                            <h4 class="card-title"><sup>$</sup> 299 <em>/Month</em></h4>
                            <p class="card-text"><em style="font-weight: bold;">200K</em> Monthly mentions</p>
                            <button type="button" class="btn btn-warning">Buy Now</button>
                            <hr class="solid">

                            <ul class="yes">
                            <li><p>Visualization Dashboard </p></li>
                            </ul>

                            <hr class="solid">
                            <p>Email phone chat</p>
                            <hr class="solid">
                            <p><em style="font-weight: bold;">30</em> Projects</p>
                            <hr class="solid">
                            <p><em style="font-weight: bold;">200K /month</em> API social media posts and comments Sentiment Analysis 
                                (Facebook,Instagram, Twitter, Linkedin, Amazon) with a customized classification 
                            </p>
                            <hr class="solid">
                            <ul class="yes">
                                <li><p>Account consultant</p></li>
                            </ul>
                            <hr class="solid">
                            <ul class="yes">
                                <li><p>Get Sentiment Analysis and Mention Analysis together</p></li>
                            </ul>
                            <hr class="solid">
                            <ul class="yes">
                                <li><p>Pdf excel csv export</p></li>
                            </ul>
                        </div>
                    </div>

                    <div class="card  stack-top-2 mb-3" style="max-width: 20rem;">
                            <div class="card-header">ENTREPRISE</div>
                            <div class="card-body">
                            <h4 class="card-title"><sup>$</sup> 499 <em>/Month</em></h4>
                            <p class="card-text">Unlimited Monthly mentions</p>
                            <button type="button" class="btn btn-warning">Buy Now</button>
                            <hr class="solid">
                            
                            <ul class="yes">
                                <li><p>Visualization Dashboard </p></li>
                            </ul>

                            <hr class="solid">
                            <p>Email phone chat</p>
                            <hr class="solid">
                            <p>Unlimited</p>
                            <hr class="solid">
                            <p style="padding-top: 18%; padding-bottom: 18%;">Unlimited</p>
                            <hr class="solid">
                            <ul class="yes">
                                <li><p>Account consultant</p></li>
                            </ul>
                            <hr class="solid">
                            <ul class="yes">
                                <li><p>Get Sentiment Analysis and Mention Analysis together</p></li>
                            </ul>
                            <hr class="solid">
                            <ul class="yes">
                                <li><p>Pdf excel csv export</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
         </div>






        



    </div>



</div>

