<div style="height: 100%;width:100%;">

    <div class="col">
        <div class="setting"><h1>File settings :</h1></div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text inputst"  matTooltip="insert the index of the Columns needed for data analyses">Columns Index</span>
                
            </div>
            <input type="text" class="form-control" placeholder="Content  example: 0 - 1 - 2">
            <input type="text" class="form-control" placeholder="Leveling  example: 0 - 1 - 2">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text inputst"  matTooltip="insert the Keyword of Leveling needed for data analyses">Leveling Keywords</span>
            </div>
            <input type="text" class="form-control" placeholder="For Post example: post">
            <input type="text" class="form-control" placeholder="For Comment example: comment">
        </div>
        <mat-divider></mat-divider>
        <div class="form-check chek">
            <label class="form-check-label">
                <input type="checkbox" checked ng-model="checkbox1"
                    class="form-check-input chektx" value="">File contain header
            </label>
        </div>
        
    </div>
    <mat-divider></mat-divider>
    <div class="w-100 p-3 shadow">
        <h5>
            File contents
        </h5>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th *ngFor="let k of data.title; let i = index"> {{i + " "}} : {{ k
                        }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data.filelist">
                    <td *ngFor="let k of data.title"> {{ item[k] }} </td>
                </tr>
            </tbody>

        </table>
        <h5>
            File contian {{data.size}} row
        </h5>
    </div>
    <div class="modal-footer">
        <mat-divider></mat-divider>
        <div mat-dialog-actions>
            <button mat-button   [mat-dialog-close]="data.validateFile==true">Close</button>
            <button mat-button   color="primary"  [mat-dialog-close]="data.validateFile==false" >Ok</button>
        </div>
          
    </div>
</div>


