<div class="body">

    <section >
        <div class="col-sm-12"  >
            <div class="row" >
                <div class="col-sm-12" >
                        <div class="title_first">
                            <a  type="button"  id="link" (click)="toggleTag()">Tell us about your project</a>
                        </div>
                </div>
            </div>
        </div>
    </section>
    

    <form *ngIf="showMe">
        <diV class="_contact">        
            <div class="row_">
                <div class="contact_social col-sm-4">
                    <div class="row">
                        <div class="col-sm-2">                        
                            <ul class="list-unstyled list-inline">
                                <li class="list-inline-item"><a href=""><span class="social-icon"><i class="fab fa-instagram "></i></span></a></li>
                                <li class="list-inline-item"><a href=""><span class="social-icon"><i class="fab fa-linkedin "></i></span></a></li>
                                <li class="list-inline-item"><a href=""><span class="social-icon-y"><i class="fab fa-youtube "></i></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="forms col-sm-4" > 
                    <div class="mb-3">
                        <div class="experience">
                            <input  type="text"  class="btn_c" name="username" id="username" placeholder="First Name*">
                        </div>
                        
                    </div>
                    <div class="mb-3">
                        <div class="experience">
                            <input  type="text" class="btn_c" name="username" id="username" placeholder="Last Name*">
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="experience">
                            <input  type="text" class="btn_c" name="username" id="username" placeholder="Your E-mail Address*">
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="experience">
                            <input  type="text"  class="btn_c" name="username" id="username" placeholder="Your phone number">
                        </div>
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control_textarea rounded-0" id="exampleFormControlTextarea1"  placeholder="Message" rows="7" cols="57"></textarea>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary mb-2">Send Message</button>
                    </div>  
                </div>
        
                <div class="forms_img col-sm-4">
                    <div class="left-image-inscription" ></div>                  
                </div>
            </div>
        </diV>
    
    </form>
    



    <section >
        <div class="col-sm-12"  >
            <div class="row" >
            <div class="col-xs-12">
                <div class="img_first">
                    <img  src="assets/xd/Groupe 1529.png" alt="..." />
                </div>
            </div>
            </div>
        </div>
    </section>








    
    <div class="container-lg-branding"  >
        <div class="col-12" >
            <div class="row" >
                <div class="w-100_brand" >
                    <h1>Branding:</h1>
                   <p>Elaboration of your brand strategy  and increase its notoriety.<br> Creation of your brand identity: logo, website, colors, posts. <br>
                    Content creation for your Social Networks. </p> 
                </div>
            <div class="col">
            </div>
            </div>
        </div>
    </div>
    
    <div class="col-12">
        <div class="container-second-marketing">
            <div class="row">
            <div class="w-100"></div>
                <div class="col-4">
                    <div class="container-second-img-left">
                        <img  src="assets/xd/Trazado .png" alt="..." />
                    </div>
                </div>
                <div class="col-8">
                    <div class="container-second-img-phrases">
                        <h1>Market Search:</h1>
                        <p>Whether you have a business idea or want to start a new project we are here to help you build the right basis for a successful business. What we do is develop surveys, interviews, focus groups, customer observation and finally provide you with valuable insights and recommendations. </p>  
                    </div>
                </div>
            </div>
        </div>

    </div>


    
    
    <div class="container-third-marketing">
        <div class="col-12">
            <div class="row">
                <div class="w-100"></div>
                    <div class="col-6" >
                        <div class="container-third-img-phrases">
                            <h1>SEO Optimization: </h1>
                            <p>Implementation of a successful and <br>sustainable natural search engine <br>optimization. The objective is to <br>maximize the organic referencing and <br>minimize the paid referencing.  </p>  
                        </div>
                    </div>
                    <div class="col-6" >
                        <div class="container-third-img-left">
                            <img  src="assets/xd/Groupe 1561.png" alt="..." />
                        </div>
                    </div>
                </div>
        </div>
    </div>
    
    <div class="container-second-marketing">
        <div class="col-12">
            <div class="row">
            <div class="w-100"></div>
                <div class="col-4">
                    <div class="container-fourth-img-left"  style="margin-right: 3%;">
                        <img  src="assets/xd/Groupe 1566.png" alt="..." />
                    </div>
                </div>
                <div class="col-8">
                    <div class="container-second-img-phrases" style="line-height: normal; margin-left: 25%; ">
                        <h1> Social Networks:</h1>
                        <p> Elaboration of your social network <br> strategies: Facebook,Instagram, LinkedIn </p>                          
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    
        <div class="container-third-marketing" >
            <div class="col-12">
            <div class="row">
            <div class="w-100"></div>
                <div class="col-8" >
                    <div class="container-third-img-phrases" style="margin-bottom: 3%; margin-top: 1%; ">
                        <h1>CRM: </h1>
                        <p>- Control the Relationship with your customers </p>
                        <p>- Satisfy and retain tour current customers.</p>       
                        <p>- Attracting new customers   </p>               
                    </div>
                </div>
                <div class="col-4" >
                    <div class="container-final-img-left" style="margin-right: 30%; ">
                        <img  src="assets/xd/Groupe 1958.png" alt="..."  />
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>