<!-- <div class="w3-container w3-teal">
    <div class="shadow-lg mt-5 p-4">
        <h3>Project Details :</h3>
        <ul class="list-group">
            <li class="list-group-item">
                <h4> Project Title : {{project.title}} </h4>
            </li>
            <li class="list-group-item">
                <h5> Project Description : {{project.discription}} </h5>
            </li>
            <li class="list-group-item">
                <h5> Creation date : {{project.created_time.split("T")[0]}}</h5>
            </li>
            <li class="list-group-item">
                <h5> Creation time : {{project.created_time.split("T")[1]}}</h5>
            </li>
            <li class="list-group-item">
                <h5> Creation Classes : {{project.class_list}}</h5>
            </li>
        </ul>
    </div>
</div> -->

<mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>
</mat-grid-list>