/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 1031;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
      background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
  
    background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
  }
  
  /* :not(:required) hides these rules from IE9 and below */
  .loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  
  .loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 150ms infinite linear;
    -moz-animation: spinner 150ms infinite linear;
    -ms-animation: spinner 150ms infinite linear;
    -o-animation: spinner 150ms infinite linear;
    animation: spinner 150ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
  }
  
  /* Animation */
  
  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }



  * {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
  }
  
  .navContainer {
    width: 100%;
    height: 100px;
  }
  
  .navContainer .navbar {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    width: 80%;
    min-width: 990px;
    height: 50px;
    margin: 75px auto;
    padding: 0;
  }
  
  .navContainer .navbar .brand {
    height: 100%;
    display: table;
    float: left;
  }
  
  .navContainer .navbar .brand h1 {
    color: rgba(78, 83, 227, 0.702);
    font-size: 39px;
    font-family: Oswald;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
  }
  
  .navContainer .navbar .nav {
    height: 100%;
  }
  
  .navContainer .navbar .nav .nav-list {
    height: 100%;
    display: table;
    margin: 0px auto;
  }
  
  .navContainer .navbar .nav .nav-list .nav-item {
    height: 100%;
    vertical-align: middle;
    display: table-cell;
    padding: 0px 20px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .navContainer .navbar .nav .nav-list .nav-item:hover {
    border-top: 6px solid rgba(246, 99, 47, 0.8);
    background-color: rgba(246, 99, 47, 0.1);
  }
  
  .navContainer .navbar .nav .nav-list .active {
    border-top: 6px solid rgba(78, 83, 227, 0.702);
    background-color: rgba(78, 83, 227, 0.1);
  }
  
  .navContainer .navbar .nav .extra-nav {
    height: 100%;
    float: right;
  }
  
  .navContainer .navbar .nav .extra-nav svg {
    height: 100%;
    vertical-align: middle;
  }
  
  .welcome p {
    padding: 20px;
    line-height: 69px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 58px;
    color: black;
    letter-spacing: -0.5px;
  }
  
  .welcome p span {
    text-transform: uppercase;
  }
  
  .projects_box_title p {
    line-height: 69px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 39px;
    color: #f6632f;
    letter-spacing: 0.02px;
  }
  
  .projects {
    width: 100%;
    background-color: rgba(78, 83, 227, 0.01);
    display: block;
    text-align: center;
  }
  
  .projects .project {
    position: relative;
    display: inline-table;
    margin: 10px;
    width: 201px;
    height: 55px;
    border-radius: 5px;
    background-color: #f6632f;
  }
  
  .projects .project .project_title {
    font-family: Montserrat;
    font-style: normal;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    font-size: 26px;
    color: white;
    letter-spacing: 0.06px;
    cursor: pointer;
  }
  
  .projects .project .del {
    position: absolute;
    top: 5px;
    right: 3px;
    cursor: pointer;
  }
  
  .projects .project .change {
    position: absolute;
    right: 3px;
    bottom: 5px;
    cursor: pointer;
  }
  
  .add_project {
    margin-top: 10px;
    text-align: center;
  }
  
  .add_project button {
    border: none;
  }
  
  .figure {
    padding-top: 5px;
  }
  
  .col-1, .col-4, .col {
    margin: 0;
    padding: 0;
  }
  
  .social_media {
    position: fixed;
    bottom: 50px;
    left: 20px;
  }
  
  .social_media li {
    width: 25px;
    margin-bottom: 10px;
  }
  
  @media screen and (max-width: 1000px) {
    html {
      padding: 0;
    }
    .navContainer {
      height: auto;
      width: 100%;
    }
    .navContainer .navbar {
      margin: 0px !important;
      min-width: -webkit-fit-content;
      min-width: -moz-fit-content;
      min-width: fit-content;
      width: 100%;
    }
    .navContainer .navbar .nav {
      height: 100%;
    }
    .navContainer .navbar .nav .nav-list {
      height: 100%;
      display: table;
    }
    .navContainer .navbar .nav .nav-list .nav-item {
      height: 100%;
      text-align: center;
      display: none;
      padding: 0px 20px;
      font-size: 25px;
      font-weight: bold;
      cursor: pointer;
    }
    .section .row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
    }
    .section .row .col-1 {
      margin-top: 50px;
      width: 100%;
      -webkit-box-flex: 1;
          -ms-flex: auto;
              flex: auto;
      max-width: 100%;
    }
    .section .row .col-1 .social_media {
      position: initial;
      bottom: unset;
      left: unset;
      display: table;
      width: 100%;
      padding: 0px 15px;
    }
    .section .row .col-1 .social_media li {
      display: table-cell;
    }
    .section .row .col-1 .social_media li svg {
      width: 60px;
      height: 60px;
    }
    .section .row .col-4 {
      width: 100%;
      margin: auto;
      max-width: 100%;
      text-align: center;
    }
    .section .row .col-4 .welcome {
      width: 100%;
      margin: 0;
    }
    .section .row .col-4 .welcome p {
      font-size: xx-large;
    }
    .section .row .col {
      width: 100%;
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
    }
    .hide-this li {
      display: table-row !important;
    }
    .menu-btn {
      text-decoration: none;
      display: block !important;
    }
  }
  
  .menu-btn {
    display: none;
    text-align: center;
  }
  /*# sourceMappingURL=style.css.map */


  .center {
    margin-top:50px;   
}

.modal-header {
	padding-bottom: 5px;
}

.modal-footer {
    	padding: 0;
	}
    
.modal-footer .btn-group button {
	height:40px;
	border-top-left-radius : 0;
	border-top-right-radius : 0;
	border: none;
	border-right: 1px solid #ddd;
}
	
.modal-footer .btn-group:last-child > button {
	border-right: 0;
}

.my-card
{
    position:absolute;
    left:40%;
    top:-20px;
    border-radius:50%;
}

.card {
  padding-top: 20px;
  margin: 10px 0 20px 0;
  background-color: rgba(214, 224, 226, 0.2);
  border-top-width: 0;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card .card-heading {
  padding: 0 20px;
  margin: 0;
}

.card .card-heading.simple {
  font-size: 20px;
  font-weight: 300;
  color: #777;
  border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
  display: inline-block;
  width: 46px;
  height: 46px;
  margin-right: 15px;
  vertical-align: top;
  border: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
  display: inline-block;
  vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  color: #262626;
}

.card .card-heading.image .card-heading-header span {
  font-size: 12px;
  color: #999999;
}

.card .card-body {
  padding: 0 20px;
  margin-top: 20px;
}

.card .card-media {
  padding: 0 20px;
  margin: 0 -14px;
}

.card .card-media img {
  max-width: 100%;
  max-height: 100%;
}

.card .card-actions {
  min-height: 30px;
  padding: 0 20px 20px 20px;
  margin: 20px 0 0 0;
}

.card .card-comments {
  padding: 20px;
  margin: 0;
  background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
  padding: 0;
  margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
  padding-right: 5px;
  overflow: hidden;
  font-size: 12px;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-comments .media-heading {
  font-size: 13px;
  font-weight: bold;
}

.card.people {
  position: relative;
  display: inline-block;
  width: 170px;
  height: 300px;
  padding-top: 0;
  margin-left: 20px;
  overflow: hidden;
  vertical-align: top;
}

.card.people:first-child {
  margin-left: 0;
}

.card.people .card-top {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 170px;
  height: 150px;
  background-color: #ffffff;
}

.card.people .card-top.green {
  background-color: #53a93f;
}

.card.people .card-top.blue {
  background-color: #427fed;
}

.card.people .card-info {
  position: absolute;
  top: 150px;
  display: inline-block;
  width: 100%;
  height: 101px;
  overflow: hidden;
  background: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card.people .card-info .title {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #404040;
}

.card.people .card-info .desc {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 12px;
  line-height: 16px;
  color: #737373;
  text-overflow: ellipsis;
}

.card.people .card-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  line-height: 29px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {
  background: url("http://lorempixel.com/850/280/nature/4/");
  background-size: cover;
  height: 135px;
}

.card.hovercard .avatar {
  position: relative;
  top: -50px;
  margin-bottom: -50px;
}

.card.hovercard .avatar img {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
  padding: 4px 8px 10px;
}

.card.hovercard .info .title {
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 1;
  color: #262626;
  vertical-align: middle;
}

.card.hovercard .info .desc {
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
}

.card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}

.btn{  
  width: 100%;
  cursor: pointer;
  height:32px;
  line-height:18px;
  color: white;
  background-color: #F66734;  
border-radius: 0%!important;}

.card-box {
  height: 400px;
  width: 400px;
  border-radius: 3px;
  margin-bottom: 30px;
  background-color: #fff;
}

.social-links li a {
  border-radius: 50%;
  color: rgba(121, 121, 121, .8);
  display: inline-block;
  height: 30px;
  line-height: 27px;
  border: 2px solid rgba(121, 121, 121, .5);
  text-align: center;
  width: 30px
}

.social-links li a:hover {
  color: #797979;
  border: 2px solid #797979
}
.thumb-lg {
  height: 88px;
  width: 88px;
}
.img-thumbnail {
  padding: .25rem;
  background-color: #fff;
  max-width: 100%;
  height: auto;
  border: 0 !important;
  padding-top: 20px;
}
.text-pink {
  color: #ff679b!important;
}
.btn-rounded {
  border-radius: 2em;
}
.text-muted {
  color: #98a6ad!important;
}
h4 {
  line-height: 22px;
  font-size: 18px;
  margin: 0;
}

.tit{
  color: #F66734;
  font-size: 40px;
  font-family: Montserrat;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

.methodname{
  padding-top: 40px;
  background-color: #8386EB;
  color: white;
  border: #262626!important;
  border-width: 2px!important;
}
.linker{
  background-color: #F66734;
  text-align: center;
  color: white;
}

.marckers{
  padding:30px;
  height: 150px;
  border: 1px solid #dadada;

}
.inf{
  padding-left: 100px;
}
.diallog{
  cursor: pointer;
}

.buttcet{
display: flex;
justify-content: center;
align-items: center;
}

.validatebutt{
  margin: auto;
  display: block;
  height: 50px;
  width: 200px;
  background-color: #427fed;
}

.fa-facebook-square:hover {
  color: #3b5998;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.fa-facebook-square{
  color: #858585;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}


.fa-twitter-square:hover {
  color: #1DA1F2;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.fa-twitter-square{
  color: #858585;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}


.fa-instagram-square:hover {
  color: #f148e3	;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.fa-instagram-square{
  color: #858585;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}


.fa-linkedin:hover {
  color: #0e76a8	;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.fa-linkedin{
  color: #858585;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}


.fa-amazon:hover {
  color: #000000	;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.fa-amazon{
  color: #858585;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}


.fa-file-csv:hover {
  color: #f37373	;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.fa-file-csv{
  color: #858585;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}


.fa-file-excel:hover {
  color: #02b32e	;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.fa-file-excel{
  color: #858585;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.btnsett{
  border:  0p;
  vertical-align: baseline!important;
  cursor: pointer;
}
.btnsett:hover { border-width: 0px; }
