<div class="conf-conf">
        <h1>Mention Légales</h1>
    <h3> En vigueur au 16/08/2021</h3>


    <section>
        <p>
            Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la <br>
            Confiance dans l’économie numérique, dite L.C.E.N., il est porté à la connaissance des Utilisateurs du <br>
            site www.sentidigital.com  les présentes mentions légales. <br>
            La connexion et la navigation sur le site Sentidigital par l’Utilisateur implique acceptation intégrale et <br>
            sans réserve des présentes mentions légales. <br>
            Ces dernières sont accessibles sur le site à la rubrique « Mentions légales ».

        </p>
    </section>

    <section>
        <h2>ARTICLE 1 : L’éditeur</h2>
        <p>
            L’édition et la direction de la publication du site www.sentidigital.com  est assurée par AMAMOU Nour,<br>
            domiciliée 1 rue pierre et marie curie créteil 94000, dont le numéro de téléphone est 0783979868,<br>
            et l'adresse e-mail nour.amamou@ihum-agency.com.
        </p>
    </section>

    <section>
        <h2>ARTICLE 2 : L’hébergeur</h2>
        <p>
            L'hébergeur du site www.sentidigital.com  est la Société Amazon Web Services , dont le siège social <br>
            est situé au 31 PL DES COROLLES à COURBEVOIE (92400) , avec le numéro de téléphone : 08 92 <br>
            97 63 34.
        </p>
    </section>


    <section>
        <h2>ARTICLE 3 : Accès au site</h2>
        <p>
            Le site est accessible par tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption <br>
            programmée ou non et pouvant découlant d’une nécessité de maintenance.<br>
            En cas de modification, interruption ou suspension des services le site www.sentidigital.com ne saurait <br>
            être tenu responsable.
            
        </p>
    </section>

    <section>
        <h2>ARTICLE 4 : Collecte des données</h2>
        <p>
            Le site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect <br>
            de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers <br>
            et aux libertés. Le site est déclaré à la CNIL sous le numéro _______________.<br>
            En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur dispose d'un droit d'accès,<br>
            de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur exerce ce droit :<br>
            - par mail à l'adresse email contact@sentidigital.com<br>
            - via un formulaire de contact ;<br>
            - via son espace personnel ;
        </p>
    </section>

    <section>
        <h2>ARTICLE 5 : Cookies</h2>
        <p>
            L’Utilisateur est informé que lors de ses visites sur le site, un cookie peut s’installer automatiquement <br>
            sur son logiciel de navigation.<br>
            En naviguant sur le site, il les accepte.<br>
            Un cookie est un élément qui ne permet pas d’identifier l’Utilisateur mais sert à enregistrer des<br>
            informations relatives à la navigation de celui-ci sur le site Internet. L’Utilisateur pourra désactiver ce <br>
            cookie par l’intermédiaire des paramètres figurant au sein de son logiciel de navigation.

        </p>
    </section>

    <section>
        <h2>ARTICLE 6 : Propriété intellectuelle</h2>
        <p>
            Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du site <br>
            www.sentidigital.com ,  sans autorisation de l’Editeur est prohibée et pourra entraînée des actions et <br>
            poursuites judiciaires telles que notamment prévues par le Code de la propriété intellectuelle et le <br>
            Code civil.<br>
            <br>
            Pour plus d’informations, se reporter aux Mentions légales du site www.sentidigital.com accessible à <br>
            la rubrique« mentions légales » 
            
        </p>
    </section>

    <section>
        <h2>Services fournis :</h2>
        <p>
            L’ensemble des activités de la société ainsi que ses informations sont présentés sur notre <br>
            site SentiDigital  <br>
            Sentidigital s’efforce de fournir sur le site www.sentidigital.com des informations aussi précises que <br>
            possible. Les renseignements figurant sur le site www.sentidigital.com ne sont pas exhaustifs et les <br>
            photos non contractuelles. Ils sont donnés sous réserve de modifications ayant été apportées depuis <br>
            leur mise en ligne. Par ailleurs, toutes les informations indiquées sur le site ww.sentidigital.com sont <br>
            données à titre indicatif, et sont susceptibles de changer ou d’évoluer sans préavis.
        </p>
    </section>



</div>