
<nav id="nav" class="navbar fixed-top navbar-expand-md  navbar-dark" style="background-color:#8ccbcc;">

    <a class=" show  navbar-brand font-weight-bolder text-white text-center"
        style="text-decoration: none;text-shadow: 4px 4px 10px #FFD700 ;"> FEEL.IA </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <div class="">
            <ul class="navbar-nav mr-auto list-group-horizontal">

                <li class="nav-item">
                    <a class="nav-link"><span class="fab fa-facebook dore"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><span class="fab fa-instagram dore"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><span class="fab fa-twitter dore"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><span class="fab fa-linkedin dore"></span></a>
                </li>


            </ul>
        </div>
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a routerLink="" class="font-weight-bolder nav-link dore">Home</a>
            </li>
            <li class="nav-item">
                <a class="font-weight-bold nav-link dore">What We Do</a>
            </li>
            <li class="nav-item">
                <a class="font-weight-bold nav-link dore">Who We Are</a>
            </li>
            <li class="nav-item ">
                <a routerLink="our_package" class="font-weight-bold nav-link dore">Our Package</a>
            </li>
            <li class="nav-item ">
                <a class="font-weight-bold nav-link dore">Blog</a>
            </li>
            <li class="nav-item">
                <a routerLink="podcast" class="font-weight-bold nav-link dore">PodCast</a>
            </li>
            <li class="nav-item">
                <a class="font-weight-bold nav-link dore">Contact Us</a>
            </li>

        </ul>
        <ul class="navbar-nav m-0">
            <li class="nav-item ">
                <a role="button" class="nav-link bg-warning text-dark text-center" data-toggle="modal" data-target="#myModal"> Book
                    Free Call </a>
            </li>
            <li *ngIf="!isLogedIn" class="nav-item ">
                <a role="button" class="nav-link bg-dark text-white text-center" data-toggle="modal" data-target="#loginModal"> Log In
                </a>
                
                <div class="modal" id="loginModal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            
                            <div class="modal-header">
                                <h4 class="modal-title">LOG IN</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="Input1">Username</label>
                                        <input type="email" class="form-control" id="Input1"
                                            placeholder="name@example.com" #username>
                                    </div>
                                    <div class="form-group">
                                        <label for="Input2">Password </label>
                                        <input type="password" class="form-control" id="Input2" #password
                                            placeholder="*******">
                                    </div>

                                </form>
                            </div>

                            
                            <div class="modal-footer">
                                <button (click)="closebtn.click();loginservice(username.value,password.value)"
                                    type="button" class="btn btn-primary">LogIN</button>
                                <button type="button" #closebtn class="btn btn-danger"
                                    data-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>
                </div>
            </li>
            <li *ngIf="!isLogedIn" class="nav-item ">
                <a role="button" class="nav-link bg-danger text-dark text-center" data-toggle="modal" data-target="#signupModal"> 
                    SIGN UP </a>
                    <div class="modal" id="signupModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
    
                                
                                <div class="modal-header">
                                    <h4 class="modal-title">SIGN UP</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
    
                                
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="Input3">Username</label>
                                            <input type="text" class="form-control" id="Input3"
                                                placeholder="username" #usernamesign >
                                        </div>
                                        <div class="form-group">
                                            <label for="usr">First Name:</label>
                                            <input type="text" class="form-control" id="usr" #firstnamesign>
                                          </div>
                                          <div class="form-group">
                                            <label for="usr_l">First Name:</label>
                                            <input type="text" class="form-control" id="usr_l" #lastnamesign>
                                          </div>
                                        <div class="form-group">
                                            <label for="Input5">E-mail</label>
                                            <input type="email" class="form-control" id="Input5"
                                                placeholder="name@example.com" #emailsign >
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="Input4">Password </label>
                                            <input type="password" class="form-control" id="Input4" #passwordsign
                                                placeholder="*******">
                                        </div>
    
                                    </form>
                                </div>
    
                                
                                <div class="modal-footer">
                                    <button (click)="closebtn.click();this.signUp(usernamesign.value, emailsign.value, passwordsign.value,firstnamesign.value,lastnamesign.value)"
                                        type="button" class="btn btn-primary">SIGN UP</button>
                                    <button type="button" #closebtn class="btn btn-danger"
                                        data-dismiss="modal">Close</button>
                                </div>
    
                            </div>
                        </div>
                    </div>
            </li>
            <li *ngIf="isLogedIn" class="nav-item ">
                <a role="button" class="nav-link bg-dark text-white text-center" routerLink="my_space" > 
                  My Space   </a>
            </li>
            <li *ngIf="isLogedIn" class="nav-item ">
                <a   role="button" class="nav-link bg-danger text-dark text-center" (click) = "this.logout()"> 
                    Log Out
                </a>
            </li>

        </ul>
    </div>

</nav>

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

           
            <div class="modal-header">
                <h4 class="modal-title">Request phone call form</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Email address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="name@example.com">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput2">Phone number</label>
                        <input type="phone" class="form-control" id="exampleFormControlInput2" placeholder="123456789">
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Call about</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </form>
            </div>

            
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Request phone call</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<div class="navContainer" style="display: inline;">
    <div class="navbar">
      <div class="nav">
        <img src="assets/xd/741gg.png" style=" width: fit-content; height: inherit; margin-left: -50px;" >
        <ul class="nav-list">
          <a style="text-decoration: none;" *ngFor="let link of links"
          [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive
          #rla="routerLinkActive">
            <li class="nav-item"             
            [routerLink]="link.path"
            [class.active]="rla.isActive">
            {{link.label}}</li> 
          </a>

          <!-- <li class="nav-item" >ABOUT</li>
          <li class="nav-item" >PACKAGE</li>
          <li class="nav-item" >SERVICES </li>
          <li class="nav-item" >BLOG</li>
          <li class="nav-item" >PODCAST</li> -->
        </ul>
        <div class="extra-nav">
        
            <button mat-icon-button [matMenuTriggerFor]="menu" fill="#8386eb" aria-label="Example icon-button with a menu">
                <mat-icon fill="#8386eb">person</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item *ngIf="!isLogedIn">
                  <span [routerLink]="['/signin']" >Sign In</span>
                </button>
                <button mat-menu-item *ngIf="!isLogedIn">
                  <span [routerLink]="['/signup']">Sign Un</span>
                </button>
                <button mat-menu-item *ngIf="isLogedIn">
                    <span [routerLink]="['/my_space']">My Analyses Space</span>
                </button>
                <button mat-menu-item *ngIf="isLogedIn">
                    <span [routerLink]="['/my_mention_space']">My Mentions Space</span>
                </button>
                <button mat-menu-item (click) = "this.logout()" *ngIf="isLogedIn">
                    <span >Log Out</span>
                </button>
                <button mat-menu-item >
                  <span [routerLink]="['/request']">Book Free Call</span>
                </button>
              </mat-menu>

      </div>
      </div>
      
    </div>
  </div>



<!-- <app-navbar></app-navbar> -->
<div style="min-height: 100%;">
    <router-outlet></router-outlet>
</div>






<!-- chatbot -->

<!-- <div style="position: fixed; bottom: 0;right: 0; margin: 10px; z-index: 2;">

    <a role='button' (click)="Chatbot=!Chatbot"><img src="../assets/msg_logo.png" alt="" width="170px">
        <span class="bg-danger align-top badge badge-light"
            style="position: relative; left: -40px; top:30px;">2</span></a>

</div> -->
<!-- chatbot dialog box -->
<!-- <div data-aos="zoom-in" id="dialogbox" *ngIf="Chatbot"
    style=" z-index: 100; position: fixed; bottom: 0;right: 0; margin: 10px; transition: 0.4s;">
    <div class="bg-dark"
        style="background: #ffffff url('../assets/160-1600491_autodesk-wallpaper-website-background.jpg') no-repeat center center fixed ;background-size: cover;position: relative; border: solid #222222; width: 350px;height:600px; border-radius: 15px">
        <a role='button' style="position: absolute;top:5; right: 5px; " (click)="Chatbot=!Chatbot">
            <h2>&times;</h2>
        </a>
        <h3 class="text-white m-3">
            Chatbot in your service
        </h3>
        <hr class="bg-white">

        <div class="bg-white mx-auto" style="overflow-y: scroll; width: 98%;height: 400px; padding-top: 10px; padding-bottom: 10px;
        background: #ffffff url('../assets/bg-ai.png') no-repeat center center fixed ;background-size: cover;
        ">
            <div>
                <img src="../assets/headrobot.png" alt="" height="40px">
                <p class="msg reciv px-2 "
                    style="border-radius: 10px; background-color: #dbdada;width: fit-content; max-width: 250px; margin-left: 20px;">
                    Welcome to my website ask a question
                    i can answer your needs
                </p>
            </div>
            <div>
                <img src="../assets/headrobot.png" alt="" height="40px">
                <p class="msg reciv px-2 "
                    style="border-radius: 10px; background-color: #dbdada;width: fit-content; max-width: 250px; margin-left: 20px;">
                    Welcome to my website ask a question
                    i can answer your needs
                </p>
            </div>
            <div>
                <img src="../assets/headrobot.png" alt="" height="40px">
                <p class="msg reciv px-2 "
                    style="border-radius: 10px; background-color: #dbdada;width: fit-content; max-width: 250px; margin-left: 20px;">
                    Welcome to my website ask a question
                    i can answer your needs
                </p>
            </div>
            <div>
                <img src="../assets/headrobot.png" alt="" height="40px">
                <p class="msg reciv px-2 "
                    style="border-radius: 10px; background-color: #dbdada;width: fit-content; max-width: 250px; margin-left: 20px;">
                    Welcome to my website ask a question
                    i can answer your needs
                </p>
            </div>
            <div>
                <img src="../assets/headrobot.png" alt="" height="40px">
                <p class="msg reciv px-2 "
                    style="border-radius: 10px; background-color: #dbdada;width: fit-content; max-width: 250px; margin-left: 20px;">
                    Welcome to my website ask a question
                    i can answer your needs
                </p>
            </div>
            <div>
                <p class="msg reciv px-2 "
                    style="border-radius: 10px; color: #FFF; background-color: #2396da;width: fit-content; max-width: 250px;float: right; margin-right: 10px;">
                    Nice .. Thanks
                </p>
            </div>


        </div>
        <div style="position: absolute;bottom:5px; width: 100%;">

            <input type="text" placeholder="Write somthing ..." name="" id=""
                style="width: 290px; height: 50px; font-size: 20px;border-radius: 15px 0px 0px 15px">
            <input type="button" value=">" class="bg-success"
                style="width: 40px; height: 50px; border-radius: 0px 15px 15px 0px">

        </div>
    </div>
</div> -->


<app-footer *ngIf="!isLogedIn"></app-footer>


<!-- <footer class="bg-dark ">
    <div class="row w-100">
        <div class="col-3 pl-5 pt-5">
            <a class=" text-white" style=" text-decoration: none;" href="">
                <h4>
                    Contact
                </h4>
            </a>
            <a class=" text-white" style=" text-decoration: none;" href="">
                <h4>
                    Blog
                </h4>
            </a>
        </div>
        <div class="col-3 pl-5 pt-5">
            <a class=" text-white" style=" text-decoration: none;" href="">
                <h4>
                    F.A.Q
                </h4>
            </a>
            <a class=" text-white" style=" text-decoration: none;" href="">
                <h4>
                    Politique de confidentialité
                </h4>
            </a>
            <a class=" text-white" style=" text-decoration: none;" href="">
                <h4>
                    Terms
                </h4>
            </a>

        </div>
        <div class="col-6">

            <div class="mb-2">
                <a class="font-weight-bolder shadow-lg display-1 text-white"
                    style="text-decoration: none; text-shadow: 4px 4px 10px #8ccbcc ;" href="#">Feel HUM</a>
            </div>
            <ul class="navbar-nav mr-auto list-group-horizontal">

                <li class="nav-item ml-5">
                    <a class="nav-link"><span class="fa fa-facebook dore"></span></a>
                </li>
                <li class="nav-item ml-5">
                    <a class="nav-link"><span class="fa fa-instagram dore"></span></a>
                </li>
                <li class="nav-item ml-5">
                    <a class="nav-link"><span class="fa fa-twitter dore"></span></a>
                </li>
                <li class="nav-item ml-5">
                    <a class="nav-link"><span class="fa fa-linkedin dore"></span></a>
                </li>


            </ul>
            <h4 class="text-white">Contact@fellai.com / +12 345 678 90 </h4>
        </div>
    </div>
</footer> -->