* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
  }
  
  .navContainer {
    width: 100%;
    height: 60px;
  }
  
  .navContainer .navbar {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    width: 80%;
    min-width: 990px;
    height: 50px;
    margin: 75px auto;
    padding: 0;
  }
  
  .navContainer .navbar .brand {
    height: 100%;
    display: table;
    float: left;
  }
  
  .navContainer .navbar .brand h1 {
    color: rgba(78, 83, 227, 0.702);
    font-size: 39px;
    font-family: Oswald;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
  }
  
  .navContainer .navbar .nav {
    height: 100%;
  }
  
  .navContainer .navbar .nav .nav-list {
    height: 100%;
    display: table;
    margin: 0px auto;
    margin-top: revert;
  }
  
  .navContainer .navbar .nav .nav-list .nav-item {
    height: 100%;
    vertical-align: middle;
    display: table-cell;
    padding: 0px 20px;
    font-size: 25px;
    color: black;
    font-weight: bold;
    cursor: pointer;
  }
  
  .navContainer .navbar .nav .nav-list .nav-item:hover {
    border-top: 6px solid rgba(246, 99, 47, 0.8);
    background-color: rgba(246, 99, 47, 0.1);
  }
  
  .navContainer .navbar .nav .nav-list .active {
    border-top: 6px solid rgba(78, 83, 227, 0.702);
    background-color: rgba(78, 83, 227, 0.1);
  }
  
  .navContainer .navbar .nav .extra-nav {
    height: 100%;
    float: right;
  }
  
  .navContainer .navbar .nav .extra-nav svg {
    height: 100%;
    vertical-align: middle;
  }
  
  .welcome p {
    padding: 20px;
    line-height: 69px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 58px;
    color: black;
    letter-spacing: -0.5px;
  }
  
  .welcome p span {
    text-transform: uppercase;
  }
  
  .projects_box_title p {
    line-height: 69px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 39px;
    color: #f6632f;
    letter-spacing: 0.02px;
  }
  
  .projects {
    width: 100%;
    background-color: rgba(78, 83, 227, 0.01);
    display: block;
    text-align: center;
  }
  
  .projects .project {
    position: relative;
    display: inline-table;
    margin: 10px;
    width: 201px;
    height: 55px;
    border-radius: 5px;
    background-color: #f6632f;
  }
  
  .projects .project .project_title {
    font-family: Montserrat;
    font-style: normal;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    font-size: 26px;
    color: white;
    letter-spacing: 0.06px;
    cursor: pointer;
  }
  
  .projects .project .del {
    position: absolute;
    top: 5px;
    right: 3px;
    cursor: pointer;
  }
  
  .projects .project .change {
    position: absolute;
    right: 3px;
    bottom: 5px;
    cursor: pointer;
  }
  
  .add_project {
    margin-top: 10px;
    text-align: center;
  }
  
  .add_project button {
    border: none;
  }
  
  .figure {
    padding-top: 5px;
  }
  
  .col-1, .col-4, .col {
    margin: 0;
    padding: 0;
  }
  
  .social_media {
    position: fixed;
    bottom: 50px;
    left: 20px;
  }
  
  .social_media li {
    width: 25px;
    margin-bottom: 10px;
  }
  
  @media screen and (max-width: 1000px) {
    html {
      padding: 0;
    }
    .navContainer {
      height: auto;
      width: 100%;
    }
    .navContainer .navbar {
      margin: 0px !important;
      min-width: -webkit-fit-content;
      min-width: -moz-fit-content;
      min-width: fit-content;
      width: 100%;
    }
    .navContainer .navbar .nav {
      height: 100%;
    }
    .navContainer .navbar .nav .nav-list {
      height: 100%;
      display: table;
    }
    .navContainer .navbar .nav .nav-list .nav-item {
      height: 100%;
      text-align: center;
      display: none;
      padding: 0px 20px;
      font-size: 25px;
      font-weight: bold;
      cursor: pointer;
    }
    .section .row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
    }
    .section .row .col-1 {
      margin-top: 50px;
      width: 100%;
      -webkit-box-flex: 1;
          -ms-flex: auto;
              flex: auto;
      max-width: 100%;
    }
    .section .row .col-1 .social_media {
      position: initial;
      bottom: unset;
      left: unset;
      display: table;
      width: 100%;
      padding: 0px 15px;
    }
    .section .row .col-1 .social_media li {
      display: table-cell;
    }
    .section .row .col-1 .social_media li svg {
      width: 60px;
      height: 60px;
    }
    .section .row .col-4 {
      width: 100%;
      margin: auto;
      max-width: 100%;
      text-align: center;
    }
    .section .row .col-4 .welcome {
      width: 100%;
      margin: 0;
    }
    .section .row .col-4 .welcome p {
      font-size: xx-large;
    }
    .section .row .col {
      width: 100%;
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
    }
    .hide-this li {
      display: table-row !important;
    }
    .menu-btn {
      text-decoration: none;
      display: block !important;
    }
  }
  
  .menu-btn {
    display: none;
    text-align: center;
  }
  /*# sourceMappingURL=style.css.map */