<div class="conf-conf">
    <h1>Politiques de confidentialité</h1>



    <section>
        <p>
            La confidentialité des visiteurs de notre site web est très importante à nos
            yeux, et nous nous engageons<br> à la protéger.<br> Cette politique détaille ce que 
            nous faisons de vos informations personnelles.
        </p>
        <p>
            Consentir à notre utilisation de cookies en accord avec cette politique lors 
            de votre première visite de notre<br> site web nous permet d’utiliser des
            cookies à chaque fois que vous consultez notre site
        </p>
        <p>
            Données personnelles
        </p>
    </section>

    <section>
        <p>
            Sur le site web www.sentidigital.com, il y a 2 types de données susceptibles
            d’être recueillies :
        </p>
        <ul>
            <li>
                <h2>Les données transmises directement</h2>
                <p>
                    Ces données sont celles que vous nous transmettez directement, via 
                    un formulaire de contact <br>ou bien par contact direct par email. Sont 
                    obligatoires dans le formulaire de contact le champs <br>« prénom et nom »,
                     « entreprise ou organisation » et « email ».
                </p>
            </li>
            <li>
                <h2>Les données collectées automatiquement</h2>
                <p>
                    Lors de vos visites, une fois votre consentement donné, nous 
                    pouvons recueillir des informations<br> de type « web analytics » relatives
                    à votre navigation, la durée de votre consultation, votre adresse IP, <br>
                    votre type et version de navigateur. La technologie utilisée est le cookie.
                </p>
            </li>
        </ul>
    </section>

    <section>
        <h2>Utilisation des données </h2>
            <ul>
                <li>
                    <p>
                        Les données que vous nous transmettez directement sont utilisées
                        dans le but de vous recontacter <br>et/ou dans le cadre de la 
                        demande que vous nous faites.
                    </p>
                </li>
            </ul>  
    </section>

    <section>
        <h2>Base légale </h2>
        <p>
            Les données personnelles ne sont collectées qu’après consentement 
            obligatoire de l’utilisateur.<br> Ce consentement est valablement recueilli 
            (boutons est case à cocher), libre, clair et sans équivoque. 
        </p>
    </section>

    <section>
        <h2>Durée de conservation</h2>
        <p>Les données seront sauvegardées durant une durée maximale de 3 ans.</p>
    </section>

    <section>
        <h2>Vos droits concernant les données personnelles</h2>
        <p>
            Vous avez le droit de consultation, demande de modification ou d’effacement sur l’ensemble 
            de vos données <br>personnelles. Vous pouvez également retirer votre consentement au 
            traitement de vos données.<br>
            En utilisant notre site, vous consentez à notre politique de confidentialité.

        </p>
    </section>

    <section>
        <h2>Contact délégué à la protection des données</h2>
        <p>Nour Amamou – contact@sentidigital.com</p>
    </section>

</div>