.conf-conf{
    margin-left: 8%;
    margin-bottom: 10%;
    margin-top: 10%;
}



.conf-conf h1{
    font-size: 26px;
    text-align: center;
    margin-bottom: 80px;
    font-weight: bold;
}

.conf-conf h2{
    font-weight: bold;
    font-size: 22px;
}
.conf-conf p{
    font-size: 22px;
    line-height: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    letter-spacing: 0.05pc;
}