
.separator {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
  }
  
  .separator::before,
  .separator::after {
    content: '';
    flex: 5;
    border-bottom: 1px solid #CFCFCF;
  }
  
  .separator:not(:empty)::before {
    margin-right: .80em;
    margin-left: .50em;
  }
  .separator:not(:empty)::after {
    margin-left: .80em;
    margin-right: .50em;
  }

.banner-img{
    background:url("/assets/xd/Illustration.png") no-repeat ; 
    background-size:450px 400px ;
    background-position: left 20% bottom 60%;
    width: 750px;
    height: 400px;
    object-position: 100px 50px;
    min-height: 250px; 
    padding:0;
}


h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #F6632F;}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #3E3E3E;
    box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #3E3E3E;
    box-sizing: border-box;
    margin-bottom: 5%;
}

/* eye password */
.eye_passowrd_up{
    position: absolute;
    right : 35px;
    bottom: 35%;
    cursor: pointer;
    }
    
    .fa{
      font-size: 50px;
    }
    

.social- {
    height: 20px;
    width: 40%;
    flex: 1 40px;
    justify-content: center;
    align-items: center;
    color: #8386EB;
    font-size: 25px;
    margin-left: 11px;
    cursor: pointer

}
.social-y {
    height: 20px;
    width: 40%;
    flex: 1 30px;
    justify-content: center;
    align-items: center;
    color: #8386EB;
    font-size: 28px;
    margin-left: 11px;
    cursor: pointer

}

.social_mediam_bottom{
    position: absolute;
    bottom: 0px;
    margin-top: 100% ;
    margin-left: 20%;



}


* { box-sizing: border-box; }
.two { width: 20em; max-width: 100%; }
.two p { display: inline-block; max-width: 70%; }
.two p:nth-child(1) { float:left; }
.two p:nth-child(2) { float:right; }




.same_line_input{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-right: 2%

}

.experience:nth-child(1)
{
    background-color:white;
    border: 4px double white
}
.experience:nth-child(2)
{
    background-color:white;
    border: 4px double white
}