<section class="login-block">
    <div class="container">
      <div class="row">
        <div class="col-md-4 login-sec">
          <h2>Sign Up</h2>
          <form class="login-form">
            <div class="example-container" style="display:grid">
              <div >
                <div class="same_line_input">
                  <div class="experience">
                    <input  type="text" name="username" id="username" placeholder ="First Name">
                  </div>
                  <div class="experience">
                    <input  type="text" name="username" id="username" placeholder ="Last Name">
                  </div>
                </div>

                <p>
                  <input type="text" name="username" id="username" placeholder ="Email">
                </p>
                <span>
                  <input type="password" name="password" id="password"  placeholder ="Password"  [type]="hide ? 'password':'text'"/>
                  <span class="eye_passowrd_up">
                    <i class="material-icons" aria-hidden="true" matSuffix (click)="hide =!hide">
                      {{hide ?'visibility_off' : 'visibility'}}
                    </i>
                  </span>
                </span>
              </div>
             <!--<mat-divider></mat-divider>--> 
              <button style="margin: 20px;"  type="submit" mat-raised-button style="background-color: #F6632F;color: white;" mat-button>Sign Up</button>
              <br>            
              <div class="separator"> or sign up with</div>
              <br>  
            </div>          
          </form>
        </div>
        <div class="col-md-8 banner-img">
        </div>
      </div>


      <div class="row" style="margin-top: 7%;">
        <div class="col-sm">                
          <div class="social_mediam_bottom">
              <ul class="list-unstyled list-inline">
                  <li class="list-inline-item"><a href=""><span class="social-"><i class="fab fa-instagram "></i></span></a></li>
                  <li class="list-inline-item"><a href=""><span class="social-"><i class="fab fa-linkedin "></i></span></a></li>
                  <li class="list-inline-item"><a href=""><span class="social-y"><i class="fab fa-youtube "></i></span></a></li>
              </ul>
          </div>
        </div>
        <div class="col-sm">
          <div class="two">
            <p>Alredy have an account? </p>
            <p><a routerLink="signup">Sign in</a></p>
          </div>
        </div>
      </div>



    </div>
  </section>
  